{% set mode = '-' + params.mode if params.mode else '' %}

{% if params.data|length %}

<div class="govuk-!-margin-top-2            
            govuk-!-margin-bottom-8"
     id="related-links">

  <div class="govuk-body
              govuk-!-padding-5
              govuk-hub-related-topics{{mode}}">

    <h3 class="govuk-heading-m 
               govuk-hub-related-topics__heading{{mode}}">Related topics</h3>

    {% for tagItem in params.data %}
      <a title="{{tagItem.name}}" href="/tags/{{tagItem.id}}" class="govuk-!-margin-right-1">{{tagItem.name}}</a>
    {% endfor %}
    
  </div>

</div>

{% endif %}  