{% set mode = '-' + params.mode if params.mode else '' %}

{% if params.data|length %}

  <div class="govuk-body govuk-!-width-full 
              govuk-hub-related-topics{{mode}}
              govuk-!-padding-4">

    <h3 class="govuk-heading-m 
               govuk-hub-related-topics__heading{{mode}}">Related topics</h3>

    {% for tagItem in params.data %}
      <a title="{{tagItem.name}}" href="/tags/{{tagItem.id}}" class="govuk-!-margin-right-1">{{tagItem.name}}</a>
    {% endfor %}
    
  </div>

{% endif %}  