{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../hub-content/macro.njk" import hubContent %}

<div data-content-type="{{params.data.contentType}}" data-content-id="{{params.id}}" >
  {{ hubContent({
    data: params.data.data
  }, t) }}
  {% if not params.data.isLastPage %}
    <div class="show-more govuk-!-margin-top-9">
      {{ govukButton({
        text: t("showMore.enabled"),
        classes: 'show-more-tiles govuk-button--secondary'
      }) }}
    </div>
  {% endif %}
</div>
