<div id="{{ params.id|default('feedback-widget', true) }}"
      data-item-type="{{params.contentType}}"
      data-item-title="{{ params.title }}"
      data-item-series="{{params.series}}"
      data-item-topics="{{params.topics}}"
      data-item-categories="{{params.categories}}"
      data-item-feedback-id="{{params.feedbackId}}"
      class="govuk-hub-comment {{params.classes}}"
  >
  <div class="govuk-hub-feedback-ui">
    {% if params.heading != '' %}
      <h3 class="govuk-body govuk-hub-feedback-heading">{{ params.heading|default('Give us feedback') }}</h3>
    {% endif %}
    <div class="govuk-hub-feedback">
      <button data-feedback-sentiment
        class="govuk-link govuk-hub-thumbs govuk-hub-thumbs--up"
        value="LIKE"
        type="button"
      ></button>

      <button data-feedback-sentiment
        class="govuk-link govuk-hub-thumbs govuk-hub-thumbs--down"
        value="DISLIKE"
        type="button"
      ></button>
    </div>
    <div data-item-feedback-text class="govuk-body govuk-!-font-weight-bold"></div>
    <form
      data-feedback-form
      class="govuk-hub-comment-form govuk-u-hidden"
    >
      <div class="govuk-!-margin-bottom-2">
        <p id="more-detail" class="govuk-hint">
          <a href="/help" class="govuk-link govuk-link--no-visited-state">Click here if you need help and are struggling with mental health.</a><br>You will not get the help you need if you leave a message in the box below.
        </p>
        <p class="govuk-body">We get a lot of feedback but try to read as much as we can. Feedback is treated anonymously, unless it breaks prison rules or raises safety concerns.</p>
        <textarea data-feedback-comment class="govuk-textarea govuk-!-margin-bottom-0 govuk-!-padding-2" id="more-detail" name="value" rows="4" placeholder="I think the Hub should:" maxlength="240" required></textarea>
      </div>
      <div class="govuk-hub-comment-form__footer">
        <div class="govuk-hub-comment-counter">
          <span data-feedback-comment-counter >240</span> characters left</div>
        <button type="submit" class="govuk-button">Send</button>
      </div>
    </form>
  </div>
  <div class="govuk-hub-feedback-confirmation govuk-u-hidden">
    <h3 class="govuk-body govuk-!-font-weight-bold">Thanks for your feedback</h3>
    <p class="govuk-body">
      You can read more about what we do with it <a href="{{ knownPages.feedback }}" class="{{ 'govuk-link' if params.sidebar }}">here</a>.
    </p>
  </div>
</div>
<script defer src="/public/javascript/feedback-tracking.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    feedbackTracker('{{ params.id|default("feedback-widget", true) }}');
  });
</script>
