{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro feedbackOptions(feedbackTexts, sentiment) %}
  <div class="{{ sentiment }} govuk-u-hidden">
    {% set feedbackOptions = [] %}
    {% for feedbackText in feedbackTexts %}
      {% set feedbackOptions = (feedbackOptions.push({text:feedbackText, value: feedbackText}), feedbackOptions) %}
    {% endfor %}
    {{ govukRadios({
      classes: "govuk-radios--small",
      idPrefix: sentiment,
      name: 'feedbackOption',
      fieldset: {
        legend: {
          text: "Select one:",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: feedbackOptions
    }) }}
  </div>
{% endmacro %}

<div id="{{ params.id|default('feedback-widget', true) }}"
      data-item-type="{{params.contentType}}"
      data-item-title="{{ params.title }}"
      data-item-series="{{params.series}}"
      data-item-topics="{{params.topics}}"
      data-item-categories="{{params.categories}}"
      data-item-feedback-id="{{params.feedbackId}}"
      class="govuk-hub-comment {{params.classes}}"
  >
  <div class="govuk-hub-feedback-ui">
    {% if params.heading != '' %}
      <h3 class="govuk-body govuk-hub-feedback-heading">{{ params.heading|default('Give us feedback') }}</h3>
    {% endif %}
    <div class="govuk-hub-feedback">
      <button data-feedback-sentiment
        class="govuk-link govuk-hub-thumbs govuk-hub-thumbs--up"
        value="LIKE"
        type="button"
      ></button>

      <button data-feedback-sentiment
        class="govuk-link govuk-hub-thumbs govuk-hub-thumbs--down"
        value="DISLIKE"
        type="button"
      ></button>
    </div>
    <div data-item-feedback-text class="govuk-body govuk-!-font-weight-bold"></div>
    <form
      data-feedback-form
      class="govuk-hub-comment-form govuk-u-hidden"
    >
      <div class="govuk-!-margin-bottom-2">
        {% set feedbackLikeTexts = [
          "This content made a positive difference to me",
          "I’d like more of this kind of content"
        ] %}
        {{ feedbackOptions(feedbackLikeTexts, 'feedbackOption-LIKE') }}
        {% set feedbackDislikeTexts = [
          "Content is missing",
          "Broken link on this page",
          "Audio or video isn’t playing",
          "Images aren’t working",
          "There is wrong information on this page"
        ] %}
        {{ feedbackOptions(feedbackDislikeTexts, 'feedbackOption-DISLIKE') }}
      </div>
      {{ govukButton({
        type: "submit",
        text: "Send"
      }) }}
    </form>
  </div>
  <div class="govuk-hub-feedback-confirmation govuk-u-hidden">
    <h3 class="govuk-body govuk-!-font-weight-bold">Thanks for your feedback</h3>
    <p class="govuk-body">
      <a href="{{ knownPages.feedback }}" class="govuk-link">What happens to your feedback?</a>.
    </p>
  </div>
  <div class="govuk-hub-feedback-more-info govuk-body govuk-u-hidden">
    If you want to contact someone about anything else: 
    <ul>
      <li>Send an app or a digital request</li>
      <li>Speak to your Digital PID, an officer or keyworker</li>
      <li><a class="govuk-link" href="/help">Call a helpline</a></li>
      <li><a class="govuk-link" href="{{ knownPages.mentalHealthLink }}">Read and watch more about mental health</a></li>
      <li><a class="govuk-link" href="{{ knownPages.NPRRequestLink }}">Contact NPR with a shout out or song request</a></li>
    </ul>
  </div>
</div>
<script defer src="/public/javascript/feedback-tracking.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    feedbackTracker('{{ params.id|default("feedback-widget", true) }}');
  });
</script>
