{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro feedbackOptions(feedbackTexts, sentiment, t) %}
  <div class="{{ sentiment }} govuk-u-hidden">
    {% set feedbackOptions = [] %}
    {% for feedbackText in feedbackTexts %}
      {% set feedbackOptions = (feedbackOptions.push({text:feedbackText, value: feedbackText}), feedbackOptions) %}
    {% endfor %}
    {{ govukRadios({
      classes: "govuk-radios--small",
      idPrefix: sentiment,
      name: 'feedbackOption',
      fieldset: {
        legend: {
          text: t("feedback.select"),
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: feedbackOptions
    }) }}
  </div>
{% endmacro %}

<div id="{{ params.id|default('feedback-widget', true) }}"
      data-item-type="{{params.contentType}}"
      data-item-title="{{ params.title }}"
      data-item-series="{{params.series}}"
      data-item-topics="{{params.topics}}"
      data-item-categories="{{params.categories}}"
      data-item-feedback-id="{{params.feedbackId}}"
      class="govuk-hub-comment {{params.classes}}"
  >
  <div class="govuk-hub-feedback-ui">
    {% if params.heading != '' %}
      <h3 class="govuk-body govuk-hub-feedback-heading">{{ params.heading|default(t("feedback.headings.default")) }}</h3>
    {% endif %}
    <div class="govuk-hub-feedback">
      <button data-feedback-sentiment
        class="govuk-link govuk-hub-thumbs govuk-hub-thumbs--up"
        value="LIKE"
        type="button"
        aria-label="like"
      ></button>

      <button data-feedback-sentiment
        class="govuk-link govuk-hub-thumbs govuk-hub-thumbs--down"
        value="DISLIKE"
        type="button"
        aria-label="dislike"
      ></button>
    </div>
    <div data-item-feedback-text class="govuk-body govuk-!-font-weight-bold"></div>
    <form
      data-feedback-form
      class="govuk-hub-comment-form govuk-u-hidden"
    >
      <div class="govuk-!-margin-bottom-2">
        {% set feedbackLikeTexts = [
          t("feedback.like.1"),
          t("feedback.like.2")
        ] %}
        {{ feedbackOptions(feedbackLikeTexts, 'feedbackOption-LIKE', t) }}
        {% set feedbackDislikeTexts = [
          t("feedback.dislike.1"),
          t("feedback.dislike.2"),
          t("feedback.dislike.3"),
          t("feedback.dislike.4"),
          t("feedback.dislike.5")
        ] %}
        {{ feedbackOptions(feedbackDislikeTexts, 'feedbackOption-DISLIKE', t) }}
      </div>
      {{ govukButton({
        type: "submit",
        text: t("feedback.send")
      }) }}
    </form>
  </div>
  <div class="govuk-hub-feedback-confirmation govuk-u-hidden">
    <h2 class="govuk-body govuk-!-font-weight-bold">{{ t("feedback.thanks") }}</h2>
    <p class="govuk-body">
      <a href="{{ knownPages.feedback }}" class="govuk-link">{{ t("feedback.whatHappens") }}</a>.
    </p>
  </div>
  <div class="govuk-hub-feedback-more-info govuk-body govuk-u-hidden">
    {{ t("feedback.contact.preamble") }}
    <ul>
      <li>{{ t("feedback.contact.1") }}</li>
      <li>{{ t("feedback.contact.2") }}</li>
      <li><a class="govuk-link" href="/help">{{ t("feedback.contact.3") }}</a></li>
      <li><a class="govuk-link" href="{{ knownPages.mentalHealthLink }}">{{ t("feedback.contact.4") }}</a></li>
      <li><a class="govuk-link" href="{{ knownPages.NPRRequestLink }}">{{ t("feedback.contact.5") }}</a></li>
    </ul>
  </div>
</div>
<script>const i18n = {
    "iLikeThis": '{{  t("feedback.like.iLikeThis") }}',
    "iDontLikeThis": '{{  t("feedback.dislike.iDontLikeThis") }}',
    "article": '{{ t("feedback.contentTypes.article") }}',
    "category": '{{ t("feedback.contentTypes.category") }}',
    "game": '{{ t("feedback.contentTypes.game") }}',
    "podcast": '{{ t("feedback.contentTypes.podcast") }}',
    "series": '{{ t("feedback.contentTypes.series") }}',
    "topic": '{{ t("feedback.contentTypes.topic") }}',
    "video": '{{ t("feedback.contentTypes.video") }}'
  };</script>
<script defer src="/public/javascript/feedback-tracking.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    feedbackTracker('{{ params.id|default("feedback-widget", true) }}');
  });
</script>
