{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
<div class="govuk-width-container">
  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
      <nav aria-label="breadcrumb"> 
        {{ govukBreadcrumbs({
          items: params.breadcrumbs
        }) }}
      </nav>
    </div>
  </div>
</div>
