{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false
  },
  "extends": ["airbnb-base", "eslint-config-prettier"],
  "ignorePatterns": ["e2e/**"],
  "rules": {
    "no-use-before-define": "off",
    "max-classes-per-file": "off",
    "class-methods-use-this": "off"
  },
  "overrides": [
    {
      "files": [
        "*.test.js",
        "*.spec.js"
      ],
      "rules": {
        "no-unused-expressions": "off",
        "no-new": "off"
      }
    }
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
