.eslintcache
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
assets/stylesheets
assets/generated
lib/govuk_template.html
govuk_modules
node_modules/*
e2e/node_modules/*
e2e/cypress/artifacts/
e2e/cypress/downloads/
.tmuxp.*
.idea
npm-debug.log
build/*
uploads/*
test-results.xml
test-results/*
build-info.json
.env
yarn-error.log
.eslintcache
coverage/**
.nyc_output/**
build-info.json
csv-exports
.vscode
cypress/artifacts/
.cache
*.pem
