.govuk-width-container,
.moj-primary-navigation__container {
  @include govuk-width-container($width-override);
}

.govuk-main-wrapper {
  padding-top: govuk-spacing(0);
}

.black-background {
  background: govuk-colour('black');
}

.govuk-hub-privacy {
  text-underline-offset: 2px;
}

.govuk-hub-comment .govuk-hint {
  color: govuk-colour('black');
}

.black-background .govuk-body,
.black-background .govuk-body a,
.black-background .govuk-heading-s,
.black-background .govuk-heading-m,
.black-background .govuk-heading-l,
.black-background .govuk-hint,
.black-background .govuk-hint a,
.black-background .govuk-hub-comment-counter {
  color: govuk-colour('white');
}

.govuk-hub-comment-form__footer .govuk-button {
  background-color: $govuk-link-colour;
  margin-bottom: 0 !important;
}

.govuk-hub-thumbs {
  height: 39px;
  width: 44px;
  margin-right: govuk-spacing(4);
  float: left;
  cursor: pointer;
  border: 0;
}

.black-background .govuk-hub-thumbs--up {
  background-image: url('/public/images/icon-thumbs/thumbs-up-white.svg');
  background-color: transparent;
}

.govuk-hub-thumbs--up:focus {
  background-image: url('/public/images/icon-thumbs/thumbs-up-black.svg');
}

.black-background .govuk-hub-thumbs--down {
  background-image: url('/public/images/icon-thumbs/thumbs-down-white.svg');
  background-color: transparent;
  margin-top: 12px;
}

.govuk-hub-thumbs--down:focus {
  background-image: url('/public/images/icon-thumbs/thumbs-down-black.svg');
}

.govuk-u-hidden {
  display: none;
}

.govuk-hub-comment-form__footer {
  @include govuk-font($size: 19);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.govuk-hub-feedback::after {
  content: '';
  display: table;
  clear: both;
}

.govuk-hub-feedback {
  margin-bottom: 15px;
}

.govuk-hub-feedback-text {
  @include govuk-font($size: 19);
  color: govuk-colour('white');
  margin-bottom: govuk-spacing(4);
}

.black-background .govuk-hub-comment-form .govuk-fieldset__legend,
.black-background .govuk-hub-comment-form .govuk-label {
  color: govuk-colour('white');
}

.black-background #feedback-widget .govuk-link,
.black-background .govuk-hub-content-tile-featured {
  @extend .govuk-link--inverse;
}

.govuk-hub-article-feedback {
  border-top: solid 1px $govuk-border-colour;
  margin-top: govuk-spacing(4);
}

.govuk-hub-thumbs--up {
  background-image: url('/public/images/icon-thumbs/thumbs-up-grey.svg');
  background-color: transparent;
}

.govuk-hub-thumbs--down {
  background-image: url('/public/images/icon-thumbs/thumbs-down-grey.svg');
  background-color: transparent;
}

.govuk-hub-thumbs--down.is-selected {
  background-image: url('/public/images/icon-thumbs/thumbs-down-selected.svg');
}

.govuk-hub-thumbs--up.is-selected {
  background-image: url('/public/images/icon-thumbs/thumbs-up-selected.svg');
}

.govuk-hub-white-heading {
  color: govuk-colour('white');
}

.govuk-breadcrumbs li {
  @extend .govuk-body;
  @include govuk-font(16);
}
.govuk-breadcrumbs li a {
  @extend .govuk-link;
  @extend .govuk-link--no-visited-state;
}

.govuk-hub-navigationUserDetailsBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.govuk-hub-userDetails {
  padding: govuk-spacing(2) 0;
  h3 {
    @include govuk-font(16, $weight: bold);
    display: inline-block;
    margin: 0;
  }
}
