@import 'govuk/all';
@import 'moj/all';

$width-override: 1200px;
$desktop-breakpoint: $width-override;
$tablet-breakpoint: map-get($govuk-breakpoints, 'tablet');
$mobile-breakpoint: map-get($govuk-breakpoints, 'mobile');

$real-dark-grey: #232425;

@import 'general';
@import 'fonts';

@import 'mixins/scale-tile';
@import 'mixins/tile-shadow';
@import 'mixins/content-tile';

@import 'components/tools';
@import 'components/media';
@import 'components/topbar';
@import 'components/header';
@import 'components/notification';
@import 'components/topics';
@import 'components/tiles';
@import 'components/tag-page-header';
@import 'components/media-player';
@import 'components/episode-content-item';
@import 'components/featured-content';
@import 'components/search';
@import 'components/user-details';
@import 'components/home-navigation';
@import 'components/key-info-items';
@import 'components/home-content';
@import 'components/timetable';
@import 'components/page-navigation';
@import 'components/timetable-one-day';
@import 'components/category';
@import 'components/content-tile-featured';
@import 'components/content-tile-large';
@import 'components/update-items';
@import 'components/personalised';
@import 'components/signin';
@import 'components/card';
@import 'components/external-link';
@import 'components/related-topics';

@import 'pages/flat-content';
@import 'pages/step-by-step';
@import 'pages/offender-profile';
@import 'pages/crossword';
