{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "../components/footer/macro.njk" import footer %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}
{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "./top-bar/macro.njk" import topBar %}
{% from "./user-details/macro.njk" import userDetails %}

<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="govuk-template {{ htmlClasses }}">
  <head>
    <meta charset="utf-8"/>
    <title>
      {% block pageTitle %}{{ title if title else establishmentDisplayName}}
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}"/>
    <meta name="robots" content="noindex, nofollow, noimageindex">
    {% block headIcons %}
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/public/images/favicon.ico" type="image/x-icon"/>
    {% endblock %}
    {% block head %}
      <link href="/public/stylesheets/application.css" rel="stylesheet"/>
    {% endblock %}

    {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
    <meta property="og:image" content="{{ assetPath | default('/assets') }}/images/govuk-opengraph-image.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152065860-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-152065860-4');
    </script>
  </head>
  <body class="govuk-template__body {{ bodyClasses }}">
    <script>
      document.body.className = (
        (document.body.className)
        ? document.body.className + ' js-enabled'
        : 'js-enabled');
    </script>
    {% block bodyStart %}{% endblock %}

    {{ govukSkipLink({
      href: '#main-content',
      text: 'Skip to main content'
    }) }}

    {% block topBar %}
      {{ topBar({
        establishmentDisplayName: establishmentDisplayName,
        showSearch: true
      }) }}
    {% endblock %}
    {% block primaryNav %}
      {% if primaryNavigation | length > 0 %}
        {{ mojPrimaryNavigation({
          label: 'Primary navigation',
          items: primaryNavigation | makeCurrentPrimaryCategoryActive(originalUrl, data.breadcrumbs)
        }) }}
      {% endif %}
    {% endblock %}
    {% block notificationUserDetailsBar %}
      <div class="govuk-width-container">
        <div class="govuk-hub-navigationUserDetailsBar">
          {% block pageNavigation %}
            {{ pageNavigation({ title: title, hideHomePage: data.breadcrumbs  }) }}
          {% endblock %}
          {% block userDetails %}
            {% if establishmentName != 'berwyn' %}
              {{ userDetails({
                hideSignInLink: hideSignInLink,
                isSignedIn: isSignedIn,
                userName: userName,
                returnUrl: returnUrl
              }) }}
            {% endif %}
          {% endblock %}
        </div>
      </div>
      <hr class="govuk-width-container govuk-section-break govuk-section-break--s govuk-section-break--visible">
    {% endblock %}

    {% if data.breadcrumbs %}
      <div class="govuk-width-container govuk-body govuk-clearfix">
        {{ govukBreadcrumbs({ items: data.breadcrumbs }) }}
      </div>
    {% endif %}

    {% block title %}
      {% set longTitle = longTitle or title%}
      {% if longTitle %}
        <div class="govuk-width-container govuk-body govuk-clearfix">
          <div class="hub-header">
            <h1 class="govuk-heading-l" id="title">{{ longTitle }}</h1>
          </div>
        </div>
      {% endif %}
    {% endblock %}
    <div class="{{ 'black-background govuk-!-padding-top-5' if blackBackground }} govuk-!-padding-bottom-7">
      {% block main %}
        <div class="govuk-width-container">
          {% block content %}{% endblock %}
        </div>
      {% endblock %}
      {% block main_full_width %}{% endblock %}

      {% block feedback %}
        {% if not excludeFeedback %}
          <div class="govuk-width-container govuk-body">
            {% if not blackBackground %}<hr>{% endif %}
            {{ hubFeedbackWidget({
              classes: 'govuk-!-margin-top-5',
              contentId: data.id,
              heading: feedbackHeading,
              title: title,
              contentType: data.contentType,
              feedbackId: feedbackId,
              categories: title if data.contentType == 'category',
              series: title if data.contentType == 'series',
              topics: title if data.contentType == 'topic'
            })}}
          </div>
        {% endif %}
      {% endblock %}
    </div>

    {% if config.postscript %}
      {% block postscript %}{% endblock %}
    {% endif %}

    {% block footer %}
      {{ footer({ allTopics: allTopics }) }}
    {% endblock %}

    <script src="/public/jquery.min.js"></script>
    <script src="/public/javascript/all.js"></script>
    <script src="/public/javascript/hub.js"></script>
    <script src="/public/javascript/vendors/typeahead.bundle.min.js"></script>
    <script src="/public/javascript/search.js"></script>

    {% block bodyEnd %}{% endblock %}
    {% block analytics %}
      <script>
        sendPageTrack({
          page: document.location.pathname + document.location.search,
          title: "{{title}}",
          userAgent: navigator.userAgent,
          screen: window.screen.width + 'x' + window.screen.height,
          viewport: Math.max(document.documentElement.clientWidth, window.innerWidth || 0) + 'x' + Math.max(document.documentElement.clientHeight, window.innerHeight || 0),
          categories: "{{ data.categories | join(',', 'name') }}",
          topics: "{{ data.topics | join(',', 'name') }}",
          series: "{{data.seriesName}}"
        });
      </script>
    {% endblock %}

  </body>
</html>
