{% from "../components/next-episodes-content/macro.njk" import nextEpisodesContent %}
{% from "../components/suggested-content/macro.njk" import hubSuggestedContent %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% from "../components/related-topics/macro.njk" import hubRelatedTopics %}

{% extends "../components/basicTemplate.njk" %}

{% set blackBackground = true %}

{% block head %}
  <link href="/public/video-js.min.css" rel="stylesheet"/>
  {{ super() }}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
  <div class="govuk-hub-media-player">
    <header class="govuk-hub-media-player__header">
      <div class="media-thumbnail">
        <img id="thumbnail" src="{{ data.image.url }}" alt="{{ data.image.alt }}" class="govuk-hub-media-player__show-tag"/>
      </div>
      <div class="govuk-hub-title-container">
        {% if data.seriesId %}
          <p class="govuk-hub-media-player__catgeory govuk-heading-m">
            <a href="/tags/{{data.seriesId}}" id="series" title="{{ data.seriesName }}" class="govuk-link govuk-hub-media-player__catgeory-link">{{ data.seriesName }}</a>
          </p>
        {% endif %}
        <h1 id="title" class="govuk-heading-xl govuk-body govuk-!-font-size-36 govuk-hub-media-player__title govuk-!-font-weight-bold">{{ data.title }}</h1>
      </div>
    </header>
    {% block media %}{% endblock %}
    <div class="govuk-hub-media-player__description">
      <div id="body" class="govuk-body">{{ data.description | safe }}</div>
    </div>
    {% if not data.excludeFeedback %}
      {{ hubFeedbackWidget({
        contentId: data.id,
        title: data.title,
        heading: '',
        contentType: data.contentType,
        series: data.seriesName,
        feedbackId: feedbackId,
        categories: data.categories.name,
        topics: data.topics | join(',', 'name')
      })}}
    {% endif %}

    {{ hubRelatedTopics({ data: data.topics, darkmode: true }) }}

    <div id="next-episodes" class="govuk-hub-media-player__watch-next">
      {{ nextEpisodesContent({ data: data.nextEpisodes }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div id="suggested-content">
        {{ hubSuggestedContent({ data: data.suggestedContent }) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block feedback %}{% endblock %}

{% block bodyEnd %}
  <script src="/public/video.min.js"></script>
{% endblock %}
