<div id="incentivesSummary" class="incentives-info govuk-body">
  {% if isLoggedIn %}
    {% if params.data.error %}
      <p class="govuk-!-font-size-24">
        {{params.data.error}}, <a href="{{ params.authReturnUrl }}" class="govuk-link">try again</a>
      </p>
      <div class="incentives-levels govuk-clearfix">
        <div class="incentives-level incentives-level--placeholder">Basic</div>
        <div class="incentives-level incentives-level--placeholder">Standard</div>
        <div class="incentives-level incentives-level--placeholder">Enhanced</div>
      </div>
    {% else %}
      {% if params.data.incentivesLevel %}
        <p class="incentives-indicator
        {% if params.data.incentivesLevel === 'Basic' %}incentives-indicator--basic{% endif %}
        {% if params.data.incentivesLevel === 'Standard' %}incentives-indicator--standard{% endif %}
        {% if params.data.incentivesLevel === 'Enhanced' %}incentives-indicator--enhanced{% endif %}
      ">Your current level</p>
        <div class="incentives-levels govuk-clearfix">
          <div class="incentives-level incentives-level--basic">Basic</div>
          <div class="incentives-level incentives-level--standard">Standard</div>
          <div class="incentives-level incentives-level--enhanced">Enhanced</div>
        </div>
      {% else %}
        <p class="govuk-!-font-size-24">
          Your incentives level is unavailable
        </p>
      {% endif %}
      <p class="incentivesReview">
        {% if params.data.reviewDate %}
        Your level can be reviewed on <span>{{ params.data.reviewDate }}</span>
        {% else %}
        Your incentives review date is unavailable
      {% endif %}
      </p>
    {% endif %}
  {% else %}
    <p class="govuk-!-font-size-24">
      <a href="/auth/sign-in?returnUrl={{ params.authReturnUrl }}" class="govuk-link">Sign in</a> to see your current incentives level
    </p>
    <div class="incentives-levels govuk-clearfix">
      <div class="incentives-level incentives-level--placeholder">Basic</div>
      <div class="incentives-level incentives-level--placeholder">Standard</div>
      <div class="incentives-level incentives-level--placeholder">Enhanced</div>
    </div>
  {% endif %}
</div>
