{% from "../personal-schedule-day-block/macro.njk" import personalScheduleDayBlock %}
<div class="govuk-width-container govuk-body timetable-day">
  {% if params.data.error %}
    <p class="govuk-!-font-size-24">
      {{params.data.error}}, <a href="{{ params.authReturnUrl }}" class="govuk-link">try again</a>
    </p>
  {% else %}
    {% if not isLoggedIn %}
      <p class="govuk-!-font-size-24" data-test="signin-prompt">
        <a href="/auth/sign-in?returnUrl={{ params.authReturnUrl }}" class="govuk-link">Sign in</a> to see your timetable
      </p>
    {% endif %}
    {% for day, event in params.data.events %}
      <h3 data-test="date">{{event.title}}</h3>
      <div data-test="time-of-day">
        {% if params.data.hasEvents %}
          <h4{% if event.morning.finished %} class="day-block-finished"{% endif %}>Morning</h4>
          <h4{% if event.afternoon.finished %} class="day-block-finished"{% endif %}>Afternoon</h4>
          <h4{% if event.evening.finished %} class="day-block-finished"{% endif %}>Evening</h4>
        {% else %}
          <h4>Morning</h4>
          <h4>Afternoon</h4>
          <h4>Evening</h4>
        {% endif %}
      </div>
      <div class="timetable-day-blocks" data-test="{{event.title}}">
        {{ personalScheduleDayBlock(event.morning, params.data.hasEvents, '8:30am to 12:00pm') }}
        {{ personalScheduleDayBlock(event.afternoon, params.data.hasEvents, '12:00pm to 5:00pm') }}
        {{ personalScheduleDayBlock(event.evening, params.data.hasEvents, '5:00pm to 7:30pm') }}
      </div>
    {% endfor %}
  {% endif %}
</div>
