{% macro card(params) %}
  <div class="card card__content"  data-test="{{ params.id }}">
    {%- if params.heading %}
      <h3 class="govuk-heading-m card__heading">
        {{ params.heading }}
      </h3>
    {%- endif %}
    <p class="govuk-body card__description" data-hj-suppress>{{ caller() }}
    </p>
  </div>
{% endmacro %}

{% macro imageCard(params) %}
  <div class="card card--clickable"  data-test="{{ params.id }}">
    <img src="{{ params.src }}" alt="{{ params.alt }}">
    <h3>
      <a href="{{ params.link }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 card_link">{{ params.description }}</a>
    </h3>
  </div>
{% endmacro %}
