@import '../../../../../node_modules/govuk-frontend/govuk/all.scss';
@import "helpers";

.container {
	width: 90%;
	max-width: 600px;
	border: 5px solid;
  border-color: #1d70b8;
	border-radius: 3px;
	box-shadow:  10px 10px 50px 15px rgba(black, 0.3);
	background-color: #455A64;
	position: relative;
}

.canvas-wrapper {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	position: relative;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: #37474F;
}

.controls {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

button[class^="btn"] {
	background-color: #1d70b8;
	padding: 5px 20px;
	text-transform: uppercase;
	color: white;
	border: none;
	border-radius: 3px;
	letter-spacing: 0.3em;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	outline: none;
	cursor: pointer;
	transition: box-shadow 0.3s, background 0.3s;
	text-align: center;
	margin: 0 20px 0;
	margin-bottom: 20px;
}

label {
  color: white;
  text-transform: uppercase;
  margin-right: 20px;
  width: 30%;
}

.range {
	width: 100%;
	margin-bottom: 20px;
	margin: 0 20px 20px;

	display: flex;
	align-items: center;

}


	.range_inputWrapper {
		width: 100%;
		position: relative;
		height: 20px;
		background-color: #fff;
		box-shadow: 0 0 10px 5px rgba(black, 0.2);
	}

	.range_inputValue {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		color: white;
		font-size: 14px;
		height: 100%;
		padding-left: 3px;
		line-height: 20px;
	}

	.range_inputSlider {
		transform-origin: left top;
		position: absolute;
		top: 0;
		left: 0;
		background: #1d70b8;
		display: inline-block;
		width: 100%;
		height: 100%;
		transform: scaleX(0);
		transition: transform 0.2s ease-out;
	}

	.input_bar {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		margin: 0;
		opacity: 0;
		cursor: ew-resize;
		z-index: 1
	}

.score {
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 1;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	opacity: 0.3;
	text-transform: uppercase;
	color: white;
}

.dpad {
	width: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
	display: none;
}

button[class^="control"] {
	background: #1d70b8;
	border: none;
	border-radius: 3px;


}

.control-up {
	display: block;
}

.control-down svg {
	transform: rotate(180deg)
}

.control-left svg {
	transform: rotate(90deg)
}

.control-right svg {
	transform: rotate(-90deg)
}
