{% if params.id %}
  <a data-featured-tile-id="{{params.id}}" data-featured-id="{{params.id}}" data-featured-title="{{ params.title }}" href="{{params.contentUrl}}" {% if params.externalContent %}target="_blank"{% endif %} {% if params.contentType === 'pdf' or  params.contentType === 'moj_pdf_item' %} class="is-pdf"{% endif %}>
    <div class="tile-top">
      {% if params.isNew %}
        <strong class="govuk-tag govuk-tag--green">NEW</strong>
      {% elif params.contentType === "series" %}
        <strong class="govuk-tag govuk-tag--purple">SERIES</strong>
      {% endif %}
      {% if params.image.url %}
        <img src="{{params.image.url}}" alt="" class="tile-image" loading="lazy">
      {% else %}
        <img src="/public/images/default_small_tile_hub_logo.png" alt="logo" class="tile-image" loading="lazy">
      {% endif %}
      <h3 class="govuk-heading-m" style="">{{params.title}}</h3>
    </div>
    <div class="govuk-grid-column-full govuk-hub-contentTileSmall">
      <div>
        {% if params.contentType === "video" %}
          <p class="content-link--video">Watch</p>
        {% elif params.contentType === "radio" %}
          <p class="content-link--audio">Listen</p>
        {% elif params.contentType === "external_link" %}
          <p class="content-link--external">{{ params.displayUrl }}</p>
        {% elif params.contentType === "internal_link" %}
        <p class="content-link--internal"></p>
        {% elif params.contentType === "category" %}
        {% elif params.contentType !== "series" and params.contentType !== "category_bottom" %}
          <p class="content-link--article">Read</p>
        {% endif %}
      </div>
    </div>
  </a>
{% else %}
  <div class="empty-tile"></div>
{% endif %}
