{% if params.id %}
  <a data-featured-tile-id="{{params.id}}" data-featured-id="{{params.id}}" data-featured-title="{{ params.title }}" href="{{params.contentUrl}}" {% if params.externalContent %}target="_blank"{% endif %}>
    <div>
      {% if params.image.url %}
        <img src="{{params.image.url}}" alt="{{params.image.alt}}" class="tile-image">
      {% else %}
        <img src="/public/images/default_small_tile_hub_logo.png" alt="logo" class="tile-image">
      {% endif %}
      <h3 class="govuk-heading-m" style="">{{params.title}}</h3>
    </div>
    <div>
      {% if params.contentType === "video" %}
        <p class="content-link--video">Watch</p>
      {% elif params.contentType === "radio" %}
        <p class="content-link--audio">Listen</p>
      {% elif params.contentType === "external_link" %}
        <p class="content-link--external">{{ params.displayUrl }}</p>
      {% elif params.contentType === "series" %}
        <p class="content-link--series">Series</p>
      {% elif params.contentType === "internal_link" %}
      <p class="content-link--internal"></p>
      {% else %}
        <p class="content-link--article">Read</p>
      {% endif %}
    </div>
  </a>
{% else %}
  <div class="empty-tile"></div>
{% endif %}
