{% from "../content-tile-small/macro.njk" import contentTileSmall %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="small-tiles tags-content__four-items {{ 'hidden' if loop.index > 1 }}">
  {% for item in params.data %}
    {{ contentTileSmall ({
      id: item.id,
      title: item.title,
      contentType: item.contentType,
      image: item.image,
      contentUrl: item.contentUrl,
      displayUrl: item.displayUrl,
      externalContent: item.externalContent
    }) }}
  {% endfor %}
</div>
