.content__feature-text {
  & > * {
    color: govuk-colour('white');
    margin-left: govuk-spacing(5);
  }

  & > *:first-child {
    margin-top: govuk-spacing(5);
    @include govuk-font-size(36);
  }

  & > *:last-child {
    margin-bottom: govuk-spacing(5);
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  & .content-link--external {
    text-decoration: none;
  }
}

.content-storyline {
  margin: 0 govuk-spacing(5);
  @include govuk-font(19);
  @media (min-width: $desktop-breakpoint) {
    @include govuk-font(24);
  }
}

.content__feature-image {
  text-align: center;
  overflow: hidden;
}
