.hub-header {
  margin-top: govuk-spacing(3);

  & h1 {
    @include govuk-font(48, 'bold');
  }

  & > :first-child {
    float: none;
    width: 100%;

    @media (min-width: $desktop-breakpoint) {
      width: 75%;
      float: left;
    }
  }
}
