.home-content {
  margin: 0;

  & > * {
    display: flex;
    align-items: stretch;
    color: govuk-colour('white');
  }

  & > a {
    height: 250px;
    @media (min-width: $desktop-breakpoint) {
      height: 300px;
    }
    text-decoration: none;
    margin: 0 0 govuk-spacing(1);
    background-color: $real-dark-grey;
    display: flex;

    & > div {
      flex: 1 1 50%;
      position: relative;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:focus .content__feature-text > * {
      color: govuk-colour('black');
    }
  }
}

.govuk-hub-key-info-item > a,
.govuk-hub-content-tile-featured,
.govuk-hub-update-items-link {
  position: relative;
  transition: transform 0.5s ease;
}

.home-content > a:hover,
.home-content > a:focus,
.govuk-hub-key-info-item > a:hover,
.govuk-hub-key-info-item > a:focus,
.govuk-hub-content-tile-featured:hover,
.govuk-hub-content-tile-featured:focus,
.govuk-hub-update-items-link:hover,
.govuk-hub-update-items-link:focus {
  @include content-tile;
}

.hub-content-block__title-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hub-horizontal-rule-title {
  border-bottom: 1px solid govuk-colour('white');
  line-height: 0.1em;
  width: 100%;
}

.govuk-hub-home-updates {
  display: flex;
  @include govuk-media-query($until: $width-override) {
    flex-wrap: wrap;
  }
  > div {
    box-sizing: border-box;
  }
}

.govuk-hub-home-updates-feature {
  padding-right: govuk-spacing(1);
}

.govuk-hub-home-updates-content {
  padding-left: govuk-spacing(1);
}

.govuk-hub-home-updates-feature,
.govuk-hub-home-updates-content {
  max-width: 50%;
  flex-grow: 3;
  @include govuk-media-query($from: $width-override) {
    max-width: 450px;
  }
  @include govuk-media-query($until: tablet) {
    max-width: none;
    min-width: 100%;
    padding: 0 0 govuk-spacing(2) 0;
  }
}

.govuk-hub-home-updates-content {
  @include govuk-media-query($until: $width-override) {
    padding-right: 0;
  }
}

.govuk-hub-home-updates-keyInfo {
  flex-grow: 2;
  @include govuk-media-query($until: $width-override) {
    margin-top: govuk-spacing(2);
  }
}
