.govuk-hub-key-info-items {
  display: flex;
  margin-left: govuk-spacing(2);
  flex-direction: column;
  @include govuk-media-query($until: $width-override) {
    flex-direction: row;
    margin-left: 0;

    > .govuk-hub-key-info-item {
      padding: 0 govuk-spacing(1);
      width: 25%;
      width: 25%;
      > a {
        flex-direction: column;
        height: auto;
        > .govuk-heading-s {
          min-height: 44px;
        }
        > img {
          height: 100px;
          width: 100%;
        }
      }
    }
    :last-child {
      padding-right: 0;
    }
    :first-child {
      padding-left: 0;
    }
  }
}

.govuk-hub-key-info-item > a {
  display: flex;
  height: 90px;
  background-color: $real-dark-grey;
  overflow: hidden;
  text-decoration: none;
  box-sizing: border-box;

  > .govuk-heading-s {
    color: govuk-colour('white');
    padding: govuk-spacing(1) govuk-spacing(3);
  }

  > img {
    width: 50%;
    height: 90px;
  }
}
