.page-navigation {
  & > nav {
    display: flex;
    align-items: center;
    padding: govuk-spacing(4) 0;

    & > * {
      margin-right: govuk-spacing(5);
      @include govuk-font(16);
    }

    & > span {
      font-weight: 700;
    }
  }
}

#go-back {
  margin-left: govuk-spacing(1);
}

#go-back,
#go-forwards,
#go-home {
  display: flex;
  align-items: center;
  color: $govuk-text-colour;
}

#go-forwards::after,
#go-back::before {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  border-color: $govuk-secondary-text-colour;
  content: '';
  display: inline-block;
  height: 7px;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 7px;
  transform: rotate(-135deg);
  left: -0.2em;
}

#go-forwards::after {
  transform: rotate(45deg);
  left: 0.2em;
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
