#visits {
  display: flex;

  & > * {
    flex: 1 0 33%;
  }

  & h3 {
    @include govuk-font(24);
    font-weight: 400;
  }
}

.visitor-name-block > *,
.type-of-visit > *,
.next-visit > * {
  margin: 0 0 govuk-spacing(2);
}

.next-visit-type,
.next-visit-day {
  @include govuk-font(48, 'bold');
  margin: 0;
}

.next-visit-date {
  @include govuk-font(24, 'bold');
}

.hidden {
  display: none;
}

.hidden-block-text {
  display: none;
  margin: 0 0 13px;
  @include govuk-font(24, 'normal');
}

#incentivesSummary {
  width: 100%;
}

.incentives-info p > span {
  display: block;
  font-weight: 700;
  padding-top: govuk-spacing(1);
}
.incentives-indicator {
  display: inline-block;
  width: 30%;
  margin: 0 0 govuk-spacing(1);
  padding: 0 10px;
  text-align: center;
  @include govuk-font(24, 'bold');

  @media (min-width: $desktop-breakpoint) {
    width: 29.3%;
  }
}
.incentives-indicator::after {
  content: '\25bc';
  display: block;
  text-align: center;
}
.incentives-level {
  color: govuk-colour('white');
  font-weight: bold;
  padding: govuk-spacing(2);
  float: left;
  width: 30%;
  margin-right: govuk-spacing(2);
  text-align: center;
  @include govuk-font(24, 'bold');

  @media (min-width: $desktop-breakpoint) {
    width: 29.3%;
  }
}
.incentives-level--basic {
  background-color: govuk-colour('blue');
}
.incentives-level--standard {
  background-color: govuk-colour('turquoise');
}
.incentives-level--enhanced {
  background-color: govuk-colour('purple');
  margin-right: 0;
}
.incentives-level--placeholder {
  color: govuk-colour('black');
  background-color: rgba(177, 180, 182, 0.5);
  margin-right: govuk-spacing(2);
}
.incentives-indicator--standard {
  margin-left: calc(30% + 30px);

  @media (min-width: $desktop-breakpoint) {
    margin-left: calc(29.3% + 30px);
  }
}
.incentives-indicator--enhanced {
  margin-left: calc(60% + 60px);

  @media (min-width: $desktop-breakpoint) {
    margin-left: calc(58.6% + 60px);
  }
}
.incentivesReview {
  @include govuk-font(24);

  & > span {
    font-weight: 700;
  }
}

#money > h2 {
  @include govuk-font(24);
}

.balances-wrapper {
  display: flex;
}

.balances {
  display: flex;
  flex: 3;
}

.balances-toggle {
  display: flex;
  flex: 1;
  & button {
    margin: 0 auto;
    align-self: flex-end;
    margin-bottom: 26px;
    height: 40px;
  }
}

.balance {
  flex: 1;
  margin-right: govuk-spacing(2);
  & h3 {
    @include govuk-font(24, 'bold');
  }
  & p {
    @include govuk-font(24);
    text-align: left;
    border: 1px solid govuk-colour('mid-grey');
    padding: govuk-spacing(1);
  }
}

.personalisation-placeholder {
  color: govuk-colour('black');
  background-color: rgba(177, 180, 182, 0.5);
  font-weight: bold;
  padding: govuk-spacing(2);
  float: left;
  width: 30%;
  margin-right: govuk-spacing(2);
  text-align: center;
  @include govuk-font(24, 'bold');

  @media (min-width: $desktop-breakpoint) {
    width: 29.3%;
  }
}

.transactions__selection_wrapper {
  background: govuk-colour('light-grey');
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(5);
}

.transactions__selection__form {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  margin-bottom: 0;

  & .govuk-form-group {
    margin-right: 15px;
    width: auto;
    margin-bottom: 0;
  }

  & button {
    align-self: flex-end;
    margin-bottom: 2px;
  }
}

.transaction__balances {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;

  & li {
    margin-right: 120px;

    &:last-child {
      margin-right: 0;
    }
  }
}

#pending-transactions__wrapper {
  margin-bottom: 50px;
}

#completed-payments__heading {
  margin-bottom: 30px;
}
