.hidden {
  display: none;
}

.hidden-block-text {
  display: none;
  margin: 0 0 13px;
  @include govuk-font(24, 'normal');
}

.transactions__selection_wrapper {
  background: govuk-colour('light-grey');
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(5);
}

.transactions__selection__form {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  margin-bottom: 0;

  & .govuk-form-group {
    margin-right: 15px;
    width: auto;
    margin-bottom: 0;
  }

  & button {
    align-self: flex-end;
    margin-bottom: 2px;
  }
}

.transaction__balances {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;

  & li {
    margin-right: 120px;

    &:last-child {
      margin-right: 0;
    }
  }
}

#pending-transactions__wrapper {
  margin-bottom: 50px;
}

#completed-payments__heading {
  margin-bottom: 30px;
}

.visitors-names {
  padding-inline-start: govuk-spacing(4)
}