/* ==========================================================================
   COMPONENTS / #RELATED TOPICS
   ========================================================================== */

.govuk-hub-related-topics {
  background-color: govuk-colour('light-grey');

  a {
    color: govuk-colour('blue');

    &:hover {
      color: govuk-colour('dark-blue');
    }

    &:visited {
      color: govuk-colour('purple');
    }

    &:active {
      color: govuk-colour('black');
    }
  }
}

.govuk-hub-related-topics__heading {
  color: govuk-colour('black');
}

/* ==========================================================================
   COMPONENTS / #RELATED TOPICS - DARK MODE
   ========================================================================== */
.govuk-hub-related-topics-dark {
  background-color: $real-dark-grey;

  a {
    color: govuk-colour('white');

    &:hover {
      color: govuk-colour('blue');
    }

    &:visited {
      color: govuk-colour('light-grey');
    }

    &:active {
      color: govuk-colour('light-grey');
    }
  }
}

.govuk-hub-related-topics__heading-dark {
  color: govuk-colour('white');
}
