.top-bar-container {
  border: 0;
}

.top-bar {
  @include govuk-font(24, 'regular');
  display: flex;
  color: govuk-colour('white');
  align-items: center;
  padding: govuk-spacing(1) 0;

  & > * {
    flex: 1;
  }

  & > :last-child {
    text-align: right;
  }

  & h1 {
    margin-bottom: 0;
    display: flex;
    align-items: center;

    & a {
      color: govuk-colour('white');
      text-decoration: none;
      flex: 1 0 auto;
    }

    & a:hover {
      text-decoration: underline;
    }

    & img {
      flex: 0 1 auto;
    }

    & span {
      font-weight: 400;
    }
  }
}

.govuk-top-bar-break--visible {
  border-bottom: 10px solid govuk-colour('blue');
}
