version: '3'
services:
  wiremock:
    image: rodolpheche/wiremock
    container_name: wiremock
    networks:
      - prisoner-content-hub-etwoe
    restart: always
    ports:
      - "9091:8080"

  web:
    build:
      context: ../
      dockerfile: Dockerfile
      args:
        BUILD_NUMBER: 1
        GIT_REF: 1
        GIT_DATE: 1
    container_name: web
    networks:
      prisoner-content-hub-etwoe:
        aliases:
          - content-hub.localhost
          - wayland.content-hub.localhost
          - berwyn.content-hub.localhost
          - etwoe.content-hub.localhost
    depends_on:
      - wiremock
    restart: always
    ports:
      - "3000:3000"
    env_file: 
      - "./test-ci.env"

  playwright:
    build: .
    container_name: playwright
    networks:
      - prisoner-content-hub-etwoe
    depends_on:
      - web
      - wiremock
    command: npx playwright test
    environment:
      - PLAYWRIGHT_baseURL=http://content-hub.localhost:3000
      - WIREMOCK_BASE_URL=http://wiremock:8080

networks:
  prisoner-content-hub-etwoe: