<h2 class="govuk-heading-m">You are signed out</h2>
<p class="govuk-!-font-size-24">
  <a href="/auth/sign-in?returnUrl={{ returnUrl }}" class="govuk-link">Sign in</a> to see your personal information.
</p>
