<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
          Help with your transactions
        </span>
  </summary>
  <div class="govuk-details__text">
    <p>The Hub team cannot help you with transaction queries.</p>
    <p>If you're unsure about a transaction, you should submit an app or ask an officer.</p>
    <a href="/content/8534" class="govuk-link">Read more about what the information on this page means</a>.
        </div>
</details>
