{% from "../personal-balance-single/macro.njk" import personalBalanceSingle %}
<div id="money">
  {% if isLoggedIn %}
    {% if params.data.error %}
      <p class="govuk-!-font-size-24">
        {{params.data.error}}, <a href="{{ params.authReturnUrl }}" class="govuk-link">try again</a>
      </p>
      <div class="govuk-clearfix">
        <div class="personalisation-placeholder">Spends</div>
        <div class="personalisation-placeholder">Private</div>
        <div class="personalisation-placeholder">Savings</div>
      </div>
    {% else %}
      <p class="govuk-!-font-size-24">Your account balances</p>
      <div class="balances-wrapper">
        <div class="balances">
          {{ personalBalanceSingle({
            type: 'spends',
            amount: params.data.spends
          })}}
          {{ personalBalanceSingle({
            type: 'private',
            amount: params.data.cash
          })}}
          {{ personalBalanceSingle({
            type: 'savings',
            amount: params.data.savings
          })}}
        </div>
        <div class="balances-toggle">
          <button id="balance-toggle-button" class="govuk-button">Show balances</button>
        </div>
      </div>
      <p class="govuk-!-font-size-18">
        <span>
        You can now <a href="/money/transactions" class="govuk-link">view your transactions</a>
        </span>
      </p>
      <script src="/public/javascript/balances.js"></script>
    {% endif %}
  {% else %}
    <p class="govuk-!-font-size-24">
      <a href="/auth/sign-in?returnUrl={{ params.authReturnUrl }}" class="govuk-link">Sign in</a> to see your account balances
    </p>
    <div class="govuk-clearfix">
      <div class="personalisation-placeholder">Spends</div>
      <div class="personalisation-placeholder">Private</div>
      <div class="personalisation-placeholder">Savings</div>
    </div>
  {% endif %}
</div>
