{% macro updateItem(item) %}
  <a class="govuk-hub-update-items-link govuk-link govuk-!-margin-bottom-3" data-featured-tile-id="{{ item.content.id }}" data-featured-id="{{item.content.id}}" data-featured-title="{{ item.content.title }}" href="{{item.content.contentUrl}}" {% if item.content.externalContent %}target="_blank"{% endif %}>
    <div class="govuk-hub-update-items-link_content">
      <img src="{{item.image.url}}" alt="{{item.image.alt}}">

      <div class="govuk-hub-update-items-link_text govuk-!-margin-0">
        <h3 class="govuk-heading-s">{{item.publishedAt}}</h3>
        <p class="govuk-body">{{item.title | safe}}</p>
      </div>
    </div>
  </a>
{% endmacro %}
<div class="govuk-hub-update-items govuk-body govuk-!-margin-0">
  <div>
    {% for item in items %}
      {{ updateItem(item) }}
    {% endfor %}
  </div>
  <a class="govuk-link" href="/updates">
    View all
  </a>
</div>
