{% macro updateItem(item) %}
  <a class="govuk-hub-update-items-link govuk-link govuk-!-margin-bottom-3 {% if item.contentType === 'pdf' or item.contentType === 'moj_pdf_item' %}is-pdf{% endif %}" data-featured-tile-id="{{ item.id }}" data-featured-id="{{item.id}}" data-featured-title="{{ item.title }}" href="{{item.contentUrl}}" {% if item.externalContent %}target="_blank"{% endif %}>
    <div class="govuk-hub-update-items-link_content">
       {% if item.image.url %}
        <img src="{{item.image.url}}" alt="{{item.image.alt}}" class="tile-image" loading="lazy">
      {% else %}
        <img src="/public/images/default_small_tile_hub_logo.png" alt="logo" class="tile-image" loading="lazy">
      {% endif %}
      <div class="govuk-hub-update-items-link_text govuk-!-margin-0">
        <h3 class="govuk-heading-s">{{item.publishedAt}}</h3>
        <p class="govuk-body">{{item.title | safe}}</p>
      </div>
    </div>
  </a>
{% endmacro %}
<div class="govuk-hub-update-items govuk-body govuk-!-margin-0">
  <div>
    {% for item in items %}
      {{ updateItem(item) }}
    {% endfor %}
  </div>
  {% if not updatesContentHideViewAll %}
    <a class="govuk-link" href="/updates">
      {{ t("hubContentBlock.viewAll") }}
    </a>
  {% endif %}
</div>
