{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="transactions__selection_wrapper">
  <form method="GET">
    <div class="transactions__selection__form">
      <input type="hidden" name="accountType" value="{{ selectedDate }}"/>
      {{ govukSelect({
        id: "selected-date",
        name: "selectedDate",
        label: {
          text: "View by month and year"
        },
        items: dateSelection
      }) }}
      {{ govukButton({ text: "View" }) }}
    </div>
  </form>
</div>
