{% from "../../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../../components/user-details/macro.njk" import userDetails %}
{% extends "../../components/template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block head %}
  <link href="/public/javascript/games/2048/stylesheets/main.css" rel="stylesheet" type="text/css"/>
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentDisplayName: establishmentDisplayName,
    showBar: false,
    isSignedIn: isSignedIn,
    returnUrl: config.returnUrl
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: config.detailsType,
    isSignedIn: isSignedIn,
    userName: userName
  }) }}
{% endblock %}

{% block header %}{% endblock %}
{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}
{% block main %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 id="title" class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-3">2048</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="container">
            <div class="game-container">
              <div class="game-message">
                <p></p>
                <div class="lower">
                  <button class="govuk-button keep-playing-button">Keep going</button>
                  <button class="govuk-button retry-button">Try again</button>
                </div>
              </div>

              <div class="grid-2048-container">
                <div class="grid-2048-row">
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                </div>
                <div class="grid-2048-row">
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                </div>
                <div class="grid-2048-row">
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                </div>
                <div class="grid-2048-row">
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                  <div class="grid-2048-cell"></div>
                </div>
              </div>

              <div class="tile-2048-container">

              </div>
            </div>

          </div>

          <script src="/public/javascript/games/2048/keyboard_input_manager.js"></script>
          <script src="/public/javascript/games/2048/html_actuator.js"></script>
          <script src="/public/javascript/games/2048/grid.js"></script>
          <script src="/public/javascript/games/2048/tile.js"></script>
          <script src="/public/javascript/games/2048/local_storage_manager.js"></script>
          <script src="/public/javascript/games/2048/game_manager.js"></script>
          <script src="/public/javascript/games/2048/application.js"></script>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="scores-container">
            <div class="score-container">0</div>
            <div class="best-container">0</div>
          </div>
          <h2 class="govuk-heading-m">Join the numbers and get to the <strong>2048 tile!</strong></h2>
          <p class="govuk-body">
            Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
          </p>
          <button class="govuk-button restart-button" data-module="govuk-button">Start a new game</button>
        </div>
      </div>
    </div>

    <div class="govuk-hub-article-feedback govuk-!-margin-bottom-9">
      {{ hubFeedbackWidget({
        title: title,
        heading: 'Tell us what you think:',
        contentType: "game",
        feedbackId: feedbackId
      })}}
    </div>
  </div>

{% endblock %}
