{% extends "../../components/basicTemplate.njk" %}

{% block head %}
  <link href="/public/javascript/games/mimstris/main.css" rel="stylesheet" type="text/css"/>
  {{ super() }}
{% endblock %}

{% block content %}
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-half">
        <div id="app" class="govuk-body"></div>
      </div>

      <div class="govuk-grid-column-one-half">
        <p class="govuk-body">
          <b>{{ t("games.mimstris.howToPlay") }}</b>
        </p>
        <p class="govuk-body">
          {{ t("games.mimstris.instructions1") }}
          <br>{{ t("games.mimstris.instructions2") }}
          <br>{{ t("games.mimstris.instructions3") }}
          <br>{{ t("games.mimstris.instructions4") }}
          <br>{{ t("games.mimstris.instructions5") }}
          <br>{{ t("games.mimstris.instructions6") }}
        </p>
      </div>
    </div>

  </main>
{% endblock %}

{% block bodyEnd %}

  <script>const i18n = {
    'level': '{{ t("games.mimstris.level") }}',
    'lines': '{{ t("games.mimstris.lines") }}',
    'score': '{{ t("games.mimstris.score") }}'
  };</script>
  <script src="/public/javascript/games/mimstris/main.js"></script>
{% endblock %}
