{% extends "../../components/basicTemplate.njk" %}

{% block head %}
  <link href="/public/javascript/games/sudoku/sudokuJS.css" rel="stylesheet" type="text/css"/>
  <style type="text/css">
  canvas {
    background-color: #f3f2f1;
  }
  </style>
  {{ super() }}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
      </div>
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds" id="game">
          <canvas id="gameCanvas" width="780" height="620"></canvas>
        </div>
        <div class="govuk-grid-column-one-third">
            <h1 id="title" class="govuk-heading-xl govuk-!-margin-bottom-6">{{title}}</h1>
          <p class="govuk-body"><b>How to play:</b></p>
          <p class="govuk-body">
            Arrow keys = Move left and right
            <br>Spacebar = Release ball</p>
        </div>
      </div>
    </main>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/javascript/games/smashout/index.js"></script>
{% endblock %}
