{% from "../search/macro.njk" import hubSearch %}

<div class="page-navigation">
  <nav class="govuk-width-container">
    <a href="/" class="govuk-link">Homepage</a>
    <div>
      {{ hubSearch({ query: query, small: true }) }}
    </div>
  </nav>
</div>
