<div class="page-navigation">
  <nav>
    {% if not params.hideHomePage %}
      <a href="/" class="govuk-link" id="go-home">Home</a>
    {% endif %}
    <a href="" class="govuk-link" id="go-back">Back</a>
    <a href="" class="govuk-link" id="go-forwards">Forward</a>
  </nav>
</div>
