{% for event in params.events %}
  {% if loop.first %}
    <div class="govuk-body{% if params.finished %} day-block-finished{% endif %}" data-hj-suppress>
    {% endif %}
    <div class="{% if event.finished %} event-finished{% endif %}{% if event.eventType === 'APP' %} event-appt{% endif %}">
      <div class="timetable-time">{{event.timeString}}</div>
      <div class="timetable-desc">
        <strong>{{event.description}}</strong>
        {{event.location}}</div>
    </div>
    {% if loop.last %}
    </div>
  {% endif %}
{% else %}
  {% if timetableHasEvents %}
    <div class="govuk-body{% if params.finished %} day-block-finished{% endif %}">
      <div class="timetable-empty">
        <div class="timetable-time">{{event.timeString}}</div>
        <strong>No activities</strong>
      </div>
    </div>
  {% else %}
    <div class="govuk-body day-block--placeholder">
      <div class="timetable-empty">
        <div class="timetable-time">{{defaultTimeRange}}</div>
      </div>
    </div>
  {% endif %}
{% endfor %}
