<section class="hub-topics govuk-body">
  <dl>
  {% for letter, items in params.data %}
    <div>
      <dd>{{letter}}</dd>
      {% for item in items %}
        <dt>
          <a href="{{ item.href }}" title="{{ item.linkText }}" class="govuk-link govuk-link--no-visited-state">{{ item.linkText }}</a>
        </dt>
      {% endfor %}
    </div>
  {% endfor %}
  </dl>
</section>
