<div id="iepSummary" class="iep-info govuk-body">
  {% if isLoggedIn %}
    {% if params.data.error %}
      <p class="govuk-!-font-size-24">
        {{params.data.error}}, <a href="{{ params.authReturnUrl }}" class="govuk-link">try again</a>
      </p>
      <div class="iep-levels govuk-clearfix">
        <div class="iep-level iep-level--placeholder">Basic</div>
        <div class="iep-level iep-level--placeholder">Standard</div>
        <div class="iep-level iep-level--placeholder">Enhanced</div>
      </div>
    {% else %}
      {% if params.data.iepLevel %}
        <p class="iep-indicator
        {% if params.data.iepLevel === 'Basic' %}iep-indicator--basic{% endif %}
        {% if params.data.iepLevel === 'Standard' %}iep-indicator--standard{% endif %}
        {% if params.data.iepLevel === 'Enhanced' %}iep-indicator--enhanced{% endif %}
      ">Your current level</p>
        <div class="iep-levels govuk-clearfix">
          <div class="iep-level iep-level--basic">Basic</div>
          <div class="iep-level iep-level--standard">Standard</div>
          <div class="iep-level iep-level--enhanced">Enhanced</div>
        </div>
      {% else %}
        <p class="govuk-!-font-size-24">
          Your IEP level is unavailable
        </p>
      {% endif %}
      <p class="iepReview">
        {% if params.data.reviewDate %}
        Your level can be reviewed on <span>{{ params.data.reviewDate }}</span>
        {% else %}
        Your IEP review date is unavailable
      {% endif %}
      </p>
    {% endif %}
  {% else %}
    <p class="govuk-!-font-size-24">
      <a href="/auth/sign-in?returnUrl={{ params.authReturnUrl }}" class="govuk-link">Sign in</a> to see your current incentive level
    </p>
    <div class="iep-levels govuk-clearfix">
      <div class="iep-level iep-level--placeholder">Basic</div>
      <div class="iep-level iep-level--placeholder">Standard</div>
      <div class="iep-level iep-level--placeholder">Enhanced</div>
    </div>
  {% endif %}
</div>
