<div class="govuk-hub-episode-content-item" 
     id="episode-id-{{ params.id }}">

  <a href="/content/{{ params.id }}" 
     title="{{ params.title }}" 
     class="govuk-link--no-visited-state">

    <img src="{{params.image.url}}" 
              alt="{{parms.image.alt}}">

    <p class="govuk-body govuk-!-font-weight-bold ">{{ params.title }}</p>
  </a>
</div>
