{% from "../components/personal-adjudication-detail-hearing/macro.njk" import personalAdjudicationDetailHearing %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../components/basicTemplate.njk" %}

{% block content %}
  {% if not isSignedIn %}
      <h2 class="govuk-heading-m">You are signed out</h2>
      <p class="govuk-!-font-size-24" data-test="signin-prompt">
        <a href="/auth/sign-in?returnUrl={{ returnUrl }}" class="govuk-link">Sign in</a> to see your personal information.
      </p>
  {% else %}
  
    {% if error %}
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-9" data-test="approved-visitors-error">We can not list your adjudication at this time, please <a href="{{ params.returnUrl }}" class="govuk-link">try again</a> or <a href="{{ knownPages.profile.adjudicationsInfo }}" class="govuk-link">read more about adjudications</a>.</p>
    {% else %}  
        <div class="govuk-!-margin-bottom-7">
          <a href="{{ knownPages.profile.adjudicationsInfo }}" class="govuk-link govuk-!-font-size-24">Read more about adjudications</a>
        </div>  
    {% endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: {
                text: "Governor's report number"
              },
              value: {
                text: data.adjudication.reportNumber
              }
            },
            {
              key: {
                text: "When"
              },
              value: {
                text: data.adjudication.incidentDateTime
              }
            },
            {
              key: {
                text: "Where"
              },
              value: {
                text: data.adjudication.location
              }
            },
            {
              key: {
                text: "Reported by"
              },
              value: {
                text: data.adjudication.reportedBy
              }
            },
            {
              key: {
                text: "Report date and time"
              },
              value: {
                text: data.adjudication.reportDateTime
              }
            },
            {
              key: {
                text: "What happend"
              },
              value: {
                text: data.adjudication.incidentDetails
              }
            }
          ]
        }) }}
      </div>
    </div>

    {% if data.adjudication.hearings %}
      <div class="govuk-grid-column-full">
        {% for hearing in data.adjudication.hearings %}
          {{ personalAdjudicationDetailHearing(hearing) }}
        {% endfor %}
      {% endif %}
      </div>
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script src="/public/javascript/showMore.js"></script>
  <script>setUpShowMore($('.show-more-tiles'), $('.small-tiles'))</script>
  <script>
    window
      .GOVUKFrontend
      .initAll();
  </script>
{% endblock %}
