{% from "moj/components/pagination/macro.njk" import mojPagination %}

{% extends "../components/basicTemplate.njk" %}

{% block content %}
  {% if not isSignedIn %}
      <h2 class="govuk-heading-m">You are signed out</h2>
      <p class="govuk-!-font-size-24" data-test="signin-prompt">
        <a href="/auth/sign-in?returnUrl={{ returnUrl }}" class="govuk-link">Sign in</a> to see your personal information.
      </p>
  {% else %}
    {% if error %}
      <p class="govuk-!-font-size-24" data-test="approved-visitors-error">We are not able to show your approved visitor list information at this time, <a href="{{ params.returnUrl }}" class="govuk-link">try again</a>.</p>
    {% else %}
      {% if approvedVisitors.length > 0 %}
        <dl class="govuk-summary-list" data-test="approved-visitors-list" data-hj-suppress>
          {% for approvedVisitor in approvedVisitors %}
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                {{ approvedVisitor }}
              </dd>
            </div>
          {% endfor %}
        </dl>
        {% if pageData.totalPages > 1 %}
          {{ mojPagination( pageData | toPagination(rawQuery) ) }}
        {% endif %}
      {% else %}
        <p class="govuk-!-font-size-24" data-test="no-approved-visitors">You do not have any approved visitors yet</p>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script>
    window
      .GOVUKFrontend
      .initAll();
  </script>
{% endblock %}
