{% extends "../components/mediaTemplate.njk" %}

{% block media %}
  <audio
    id="hub-audio"
    class="video-js vjs-default-skin vjs-big-play-centered vjs-show-big-play-button-on-pause"
    controls
    height="226"
    width="900"
    preload="auto"
    poster="/public/images/radio-player-background.jpg"
    data-setup='{
      "controlBar": {
        "children": [
            "playToggle",
            "volumePanel",
            "currentTimeDisplay",
            "progressControl",
            "durationDisplay",
            "fullscreenToggle"
        ]
      }
    }'
    data-title="{{ data.title }}"
    data-programme-code="{{ data.programmeCode }}"
  >
    <source src="{{ data.media }}" type="audio/mp3"/>
  </audio>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/public/javascript/audioPlayer.js"></script>
{% endblock %}
