{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../components/user-details/macro.njk" import userDetails %}
{% from "../components/content-tile-large/macro.njk" import contentTileLarge %}
{% from "../components/content-tile-small/macro.njk" import contentTileSmall %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% from "../components/personal-visits/macro.njk" import personalVisits %}
{% from "../components/personal-incentives/macro.njk" import personalIncentives %}
{% from "../components/personal-balance/macro.njk" import personalBalances %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentDisplayName: establishmentDisplayName,
    showBar: false,
    userName: config.userName,
    returnUrl: config.returnUrl
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: 'small',
    userName: config.userName
  }) }}
{% endblock %}

{% block header %}
  <div class="govuk-width-container govuk-body govuk-clearfix hub-header">
    <div>
      <h1 class="govuk-heading-l" id="title">{{ title }}</h1>
      <div class="personalised-section">
        {% if config.category === 'visits' %}
          {{ personalVisits({data: data.personalisedData, authReturnUrl: config.returnUrl }, config.userName) }}
        {% endif %}
        {% if config.category === 'incentives' %}
          {{ personalIncentives({data: data.personalisedData, authReturnUrl: config.returnUrl }, config.userName) }}
        {% endif %}
        {% if config.category === 'money' %}
          {{ personalBalances({ data: data.personalisedData, authReturnUrl: config.returnUrl }, config.userName) }}
        {% endif %}
      </div>
    </div>
    <div class="help-container-tablet">
      <h2 class="govuk-heading-m">In this section</h2>
      <ul class="govuk-body">
        {% for link in data.categoryMenu %}
          <li>
            <a href="{{link.href}}" class="govuk-link">{{link.linkText}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="help-container">
      <div class="help-block">
        <h2 class="govuk-heading-m">In this section</h2>
        <ul class="govuk-body">
          {% for link in data.categoryMenu %}
            <li>
              <a href="{{link.href}}" class="govuk-link">{{link.linkText}}</a>
            </li>
          {% endfor %}
        </ul>
        <h2 class="govuk-heading-m">Give us feedback</h2>
        {{ hubFeedbackWidget({
          contentId: data.id,
          title: data.title,
          contentType: data.contentType,
          establishment: establishmentDisplayName,
          sidebar: true,
          feedbackId: feedbackId,
          categories: data.categories,
          secondaryTags: data.secondaryTags
        })}}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-body categories-container">
    <h2>Featured</h2>
    <div class="category-content">
      {{ contentTileLarge({content: data.categoryFeaturedContent.data[0], imageAlign: 'right'}) }}
      {% for tile in data.categoryFeaturedContent.data %}
        {% if loop.index === 1 or loop.index === 5 %}
          <div class="category-content__three-items">
          {% endif %}
          {% if loop.index > 1 and loop.index <= 7 %}
            {{ contentTileSmall(tile) }}
          {% endif %}
          {% if loop.index === 4 or loop.index === 7 %}
          </div>
        {% endif %}
      {% endfor %}
      {% if data.categoryFeaturedContent.data.length !== 4 and data.categoryFeaturedContent.data.length !== 7 and data.categoryFeaturedContent.data.length < 8 %}
      </div>
    {% endif %}
  </div>
  <div class="feedback-tablet">
    <h2 class="govuk-heading-m">Give us feedback</h2>
    {{ hubFeedbackWidget({
        id: 'feedback-widget-category-tablet',
        contentId: data.id,
        title: data.title,
        contentType: data.contentType,
        sidebar: true,
        feedbackId: feedbackId,
        categories: data.categories,
        secondaryTags: data.secondaryTags
      })}}
  </div>
</div>
{% endblock %}

{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block bodyEnd %}
<script src="/public/all.js"></script>
<script>
  window
    .GOVUKFrontend
    .initAll();
</script>
{% endblock %}
