{% from "../components/hub-content-show-more/macro.njk" import hubContentShowMore %}

{% extends "../components/basicTemplate.njk" %}

{% set blackBackground = true %}
{% set feedbackHeading = t("feedback.headings.alternative") %}

{% block title %}
  <div id="category-{{tagId}}" class="govuk-hub-landing-page-header govuk-hub-landing-page-header--with-stripe">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-!-padding-top-2" id="main-content">
            <h1 id="title" class="govuk-heading-xl">{{ title }}</h1>
            {% if data.summary %}
              <div id="description" class="govuk-body-l">
                {{data.summary | safe }}
              </div>
            {% endif %}
          </div>
          {% if data.image.url %}
            <div class="govuk-grid-column-one-half">
              <div data-page-featured-image class="govuk-hub-tag-page-header__content-image" style="background-image: url({{data.image.url}});"  alt="{{ data.image.alt }}"></div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  {% if data.hubContentData|length %}
    {{ hubContentShowMore({
      id: tagId,
      data: data.hubContentData,
      lazyLoadContent: true
    }, t) }}
  {% endif %}
  <hr>
{% endblock %}
{% block bodyEnd %}
<script src="/public/generated/templates.js"></script>
<script src="/public/nunjucks-slim.js"></script>
<script src="/public/javascript/showMore.js"></script>
<script>const i18nShowMore = {
  'contentTile.new': '{{ t("contentTile.new") }}',
  'contentTile.series': '{{ t("contentTile.series") }}',
  'contentTile.watch': '{{ t("contentTile.watch") }}',
  'contentTile.listen': '{{ t("contentTile.listen") }}',
  'contentTile.read': '{{ t("contentTile.read") }}',
  'showMore.enabled': '{{ t("showMore.enabled") }}',
  'showMore.disabled': '{{ t("showMore.disabled") }}'
};</script>
<script>setUpShowMore($('.show-more-tiles'), $('.small-tiles'))</script>
{% endblock %}

