{% extends "../components/basicTemplate.njk" %}

{% set title = 'The error has been logged, please try again' %}
{% set longTitle = 'Something went wrong' %}

{% block content %}
  <p class="govuk-body">
    Return to the <a href="/">home page</a> or
    <script>
      document.write('<a href="' + document.referrer + '">try again</a>');
    </script>
  </p>
  {% if error %}
    <h2 class="govuk-heading-m">Geek Stuff 👇</h2>
    <div class="govuk-inset-text">
      <p class="govuk-body govuk-!-font-weight-bold">
        {{ error.message }}
      </p>
      <code>{{ error.stack }}</code>
    </div>
  {% endif %}
{% endblock %}

{% block feedback %}
{% endblock %}
