{% extends "../components/basicTemplate.njk" %}

{% set title = 'The error has been logged, please try again' %}
{% set longTitle = t("error.somethingWentWrong") %}

{% block content %}
  <p class="govuk-body">
    {{ t("error.returnHome") | safe }}{% if returnUrl %} or {{ t("error.orTryAgain", { returnUrl:returnUrl }) | safe }}{% endif %}
  </p>
  {% if error %}
    <h2 class="govuk-heading-m">Geek Stuff 👇</h2>
    <div class="govuk-inset-text">
      <p class="govuk-body govuk-!-font-weight-bold">
        {{ error.message }}
      </p>
      <code>{{ error.stack }}</code>
    </div>
  {% endif %}
{% endblock %}

{% block feedback %}
{% endblock %}
