{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="{{ htmlClasses }}">
  <head>
    <meta charset="utf-8"/>
    <title>
      External Link
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ themeColor | default('#0b0c0c') }}"/>
    <meta name="robots" content="noindex, nofollow, noimageindex">
    {# Hardcoded value of $govuk-black #}
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/public/images/favicon.ico" type="image/x-icon"/>
    <link href="/public/stylesheets/application.css" rel="stylesheet"/>

    {# The default og:image is added below head so that scrapers see any custom metatags first, and this is just a fallback #}
    <meta property="og:image" content="{{ assetPath | default('/assets') }}/images/govuk-opengraph-image.png">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{GTMSiteId}}');</script>
      <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GA4SiteId}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{GA4SiteId}}');
    </script>

  </head>
  <body class="govuk-body">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{GTMSiteId}}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="govuk-width-container govuk-!-padding-top-9">
      <main class="govuk-main-wrapper">
        <script>
         document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
        </script>

        <div class="govuk-!-padding-top-9 govuk-!-padding-bottom-9 external-link-content">
          <img class="hub-logo" src="/public/images/icons/content-hub-invert.png" alt="logo">
          <h1 class="govuk-heading-xl govuk-!-margin-0 govuk-!-padding-left-4">{{ t("topBar.title") }}</h1>
        </div>
        <section class="govuk-!-text-align-centre" data-test="external-link-content">
          <h2 class="govuk-heading-l">{{ t("interstitial.heading") }}</h2>
          <p>{{ t("interstitial.1", { url:url }) | safe }}</p>
          <p>{{ t("interstitial.2") }}</p>
          {{ govukButton({
            text: t("interstitial.continue"),
            href: url
          }) }}
          <div class="external-link-content">
            {{ govukCheckboxes({
              idPrefix: "doNotShowMessage",
              name: "doNotShowMessage",
              items: [
                {
                  value: "doNotShowMessage",
                  text: t("interstitial.doNotShowMessage")
                }
              ]
            }) }}
          </div>
        </section>

        <script src="/public/jquery.min.js"></script>
        <script>
          $('#doNotShowMessage').change(
            function(){
                document.cookie = `externalLink_{{ url }}=${$(this).is(':checked') ? 'true; Max-Age=315600000000' : 'false; Max-Age=0'}; SameSite=Lax; Secure; path=/;`;
            });
        </script>
      </main>
    </div>
  </body>
</html>
