{% extends "../components/basicTemplate.njk" %}
{% from "../components/related-topics/macro.njk" import hubRelatedTopics %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <p id="stand-first" class="govuk-body-l">{{data.standFirst}}</p>
      <div id="body" class="gov-uk-dynamic-content">
        {{data.description | safe }}
      </div>
    </div>
  </div>
  {{ hubRelatedTopics({ data: data.topics }, t) }}
{% endblock %}
