{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/personal-schedule-today/macro.njk" import personalScheduleToday %}
{% from "../components/hub-content-block/macro.njk" import hubContentBlock %}

{% extends "../components/basicTemplate.njk" %}

{% set blackBackground = true %}

{% block pageNavigation %}
    {{ govukButton({
      text: "Browse all topics",
      href: "/topics",
      isStartButton: true,
      classes: "govuk-!-margin-2"
    }) }}
{% endblock %}

{% block title %}
  {% if establishmentName != 'berwyn' %}
    <div class="govuk-width-container home-navigation govuk-!-margin-top-3">
      {{personalScheduleToday({ data: currentEvents, authReturnUrl: returnUrl }, userName if isSignedIn else '')}}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {{ hubContentBlock({
    title: 'Recently added',
    viewAllUrl: '/recently-added',
    id: 'recentlyAdded',
    data: recentlyAddedHomepageContent
  }) }}

  {{ hubContentBlock({
    title: 'Featured',
    id: 'featuredContent',
    data: featuredContent
  }) }}

  {{ hubContentBlock({
    title: 'Explore the Hub',
    id: 'exploreContent',
    data: exploreContent,
    hideHorizontalRule: true
  }) }}
{% endblock %}

{% block feedback %}
{% endblock %}
