{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../components/personal-schedule-today/macro.njk" import personalScheduleToday %}
{% from "../components/content-tile-large/macro.njk" import contentTileLarge %}
{% from "../components/content-tile-small/macro.njk" import contentTileSmall %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{title}}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentDisplayName: establishmentDisplayName,
    showBar: true,
    isSignedIn: isSignedIn,
    returnUrl: config.returnUrl
  }) }}
{% endblock %}
{% block pageNavigation %}
  {# Do not display the page navigation on the home page #}
{% endblock %}

{% block userDetails %}
  <div class="govuk-width-container">
    {{ userDetails({
      detailsType: config.detailsType,
      isSignedIn: isSignedIn,
      userName: ('Hi, ' + userName) if userName and isSignedIn else ''
    }) }}
  </div>
{% endblock %}

{% block homeNavigation %}
  <div class="govuk-width-container home-navigation govuk-!-margin-top-3">
    <div class="home-navigation__actions">
      <div>
        <div class="govuk-clearfix home-navigation__search">
          {{ hubSearch({ query: query }) }}
        </div>
        {{ govukButton({
          text: "Browse all topics",
          href: "/topics",
          isStartButton: true
        }) }}
      </div>
    </div>
      {% if establishmentName != 'berwyn' %}
        {{personalScheduleToday({ data: currentEvents, authReturnUrl: returnUrl }, userName if isSignedIn else '')}}
      {% endif %}
  </div>
{% endblock %}

{% block search %}{% endblock %}

{% block content %}
  <div class="govuk-body home-content">
    {% if homepage.upperFeatured %}
      {{ contentTileLarge({content: homepage.upperFeatured, imageAlign: 'right'}) }}
    {% endif %}
    <div class="home-content__four-items">
      {% for tile in homepage.smallTiles %}
        {{ contentTileSmall(tile) }}
      {% endfor %}
    </div>
    {% if homepage.lowerFeatured %}
      {{ contentTileLarge({content: homepage.lowerFeatured, imageAlign: 'left'}) }}
    {% endif %}
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script>
    window
      .GOVUKFrontend
      .initAll();
  </script>
{% endblock %}
