{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/personal-schedule-today/macro.njk" import personalScheduleToday %}
{% from "../components/content-tile-small/macro.njk" import contentTileSmall %}
{% from "../components/content-tile-featured/macro.njk" import contentTileFeatured %}
{% from "../components/update-items/macro.njk" import updateItems %}
{% from "../components/hub-content-block/macro.njk" import hubContentBlock %}
{% from "../components/key-info-items/macro.njk" import keyInfoItems %}

{% extends "../components/basicTemplate.njk" %}

{% set blackBackground = true %}

{% block pageNavigation %}
    {{ govukButton({
      text: "Browse all topics",
      href: "/topics",
      isStartButton: true,
      classes: "govuk-!-margin-2"
    }) }}
{% endblock %}

{% block title %}
  {% if establishmentName != 'berwyn' %}
    <div class="govuk-width-container home-navigation govuk-!-margin-top-3">
      {{personalScheduleToday({ data: currentEvents, authReturnUrl: returnUrl }, userName if isSignedIn else '')}}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if largeUpdateTile or (updatesContent | length) or (keyInfo.data | length) %}
    <h2 class="govuk-heading-l govuk-hub-white-heading govuk-!-margin-top-5 govuk-!-margin-bottom-6 hub-horizontal-rule-title">
      <span class="black-background govuk-!-padding-right-2">Updates</span>
    </h2>
    <div class="govuk-grid-row govuk-!-margin-0 govuk-body govuk-hub-home-updates">
      <div class="govuk-hub-home-updates-feature">
        {% if largeUpdateTile %}
          {{ contentTileFeatured(largeUpdateTile) }}
        {% endif %}
      </div>
      <div class="govuk-hub-home-updates-content">
        {% if updatesContent | length %}
          {{ updateItems(updatesContent, updatesContentHideViewAll) }}
        {% endif %}
      </div>
      <div class="govuk-hub-home-updates-keyInfo" id="keyInfo">
        {% if keyInfo.data | length %}
          {{ keyInfoItems(keyInfo) }}
        {% endif %}
      </div>
    </div>
    <hr class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
  {% endif %}

  {{ hubContentBlock({
    title: 'Recently added',
    viewAllUrl: '/recently-added',
    id: 'recentlyAdded',
    data: recentlyAddedHomepageContent
  }) }}

  {{ hubContentBlock({
    title: 'Featured',
    id: 'featuredContent',
    data: featuredContent
  }) }}

  {{ hubContentBlock({
    title: 'Explore the Hub',
    id: 'exploreContent',
    data: exploreContent,
    hideHorizontalRule: true
  }) }}
{% endblock %}

{% block feedback %}
{% endblock %}
