{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% extends "../components/basicTemplate.njk" %}

{% set blackBackground = true %}

{% block head %}
  <link href="/public/video-js.min.css" rel="stylesheet"/>
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="govuk-hub-media-player">
    <header class="govuk-hub-media-player__header">
      <img width="100" height="100" id="thumbnail" src="/public/images/default_audio.png" alt="{{ data.image.alt }}" class="govuk-hub-media-player__show-tag"/>
      <div class="govuk-hub-title-container">
        <p class="govuk-hub-media-player__catgeory govuk-heading-m">
          <a href="/tags/{{data.seriesId}}" id="series" title="{{ data.seriesName }}" class="govuk-link govuk-hub-media-player__catgeory-link">{{ data.seriesName }}</a>
        </p>
        <h1 id="title" class="govuk-hub-media-player__title govuk-heading-xl govuk-body govuk-!-font-size-36 govuk-body govuk-!-font-weight-bold">{{ data.title }}</h1>
      </div>
    </header>

    <audio
      id="hub-audio"
      class="video-js vjs-default-skin vjs-big-play-centered vjs-show-big-play-button-on-pause"
      controls
      height="226"
      width="900"
      preload="auto"
      poster="/public/images/radio-player-background.jpg"
      data-setup='{
        "controlBar": {
          "children": [
              "playToggle",
              "volumePanel",
              "currentTimeDisplay",
              "progressControl",
              "durationDisplay",
              "fullscreenToggle"
          ]
        }
      }'
      data-title="{{ data.title }}"
      data-programme-code="{{ data.programmeCode }}"
    >
      <source src="{{ data.media }}" type="audio/ogg"/>
    </audio>

    <div class="govuk-hub-media-player__description">
      <div id="body" class="govuk-body">{{ data.description.sanitized | safe }}</div>
    </div>

    {% if not data.excludeFeedback %}
      {{ hubFeedbackWidget({
        contentId: data.id,
        title: data.title,
        heading: '',
        contentType: data.contentType,
        series: data.seriesName,
        feedbackId: feedbackId,
        categories: data.categories.name,
        topics: data.topics | join(',', 'name')
      }, t)}}
    {% endif %}

  </div>
{% endblock %}

{% block feedback %}
{% endblock %}

{% block bodyEnd %}
  <script src="/public/video.min.js"></script>
  <script src="/public/javascript/audioPlayer.js"></script>
{% endblock %}
