
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../components/user-details/macro.njk" import userDetails %}
{% from "../components/card/macro.njk" import card, imageCard, cardSensitiveData %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentDisplayName: establishmentDisplayName,
    showBar: false,
    userName: signedInUser,
    returnUrl: returnUrl
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: detailsType,
    userName: signedInUser
  }) }}
{% endblock %}

{% block header %}
  <div class="govuk-width-container govuk-body">
    <h1>{{ title }}</h1>
  </div>
{% endblock %}

{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% macro eventsSummary(events) %}
   {% for event in events %}
      <div class="govuk-!-padding-bottom-4">
        <strong>{{event.description}}</strong><br/>
        {{event.startTime | lower }} to {{event.endTime | lower }}<br/>
        {{event.location}}
      </div>
      {% else %}
        <strong data-test="no-activities">No activities scheduled</strong>
    {% endfor %}
{% endmacro %}

{% block main %}
  <div class="govuk-body">

{% if not signedInUser %}
<div class= "govuk-width-container">
  <h2 class="govuk-heading-m">You are signed out</h2>
  <p class="govuk-!-font-size-24" data-test="signin-prompt">
    <a href="/auth/sign-in?returnUrl={{ returnUrl }}" class="govuk-link">Sign in</a> to see your personal information.
    </p>
</div>
{% else %}
  <div class="govuk-width-container">
      <div class="govuk-width-container">
        <h2 class="govuk-heading-m">Today's timetable</h2>
        {% if events.error %}
          <p class="govuk-!-font-size-24" data-test="timetable-error">We are not able to show your timetable at this time, <a href="{{ params.returnUrl }}" class="govuk-link">try again</a></p>
        {% else %}
          <ul class="govuk-grid-row card-group">
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call card({ id: 'morningEvents', heading: 'Morning'}) -%}
                  {{ eventsSummary(events.morning.events) }}
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call card({ id: 'afternoonEvents', heading: 'Afternoon'}) -%}
                  {{ eventsSummary(events.afternoon.events) }}
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call card({ id: 'eveningEvents', heading: 'Evening'}) -%}
                  {{ eventsSummary(events.evening.events) }}
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
                {{imageCard({ id: 'timetableLink', src: "/public/images/image_timetable.jpg", alt: "timetable picture", link: "/timetable", description: "View your full timetable" }) }}
              </li>
          </ul>
        {% endif %}
      </div>
  </div>

  <div class="grey-background">
    <div class="govuk-width-container">
      <h2 class="govuk-heading-m">Incentive level</h2>
      {% if incentivesSummary.error %}
        <p class="govuk-!-font-size-24" data-test="incentives-error">We are not able to show your incentive level at this time. <a href="{{ params.returnUrl }}" class="govuk-link">try again</a> or <a href="{{ incentiveSummary.link }}" class="govuk-link">find out more about incentive levels</a>.</p>
      {% else %}
        <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-quarter card-group__item">
              {% call card({ id: 'currentLevel', heading: 'Your current incentive level is'}) -%}
                {{ incentivesSummary.incentivesLevel }}
              {%- endcall %}
            </li>
            <li class="govuk-grid-column-one-quarter card-group__item">
              {% call card({ id: 'reviewDate', heading: 'This can be reviewed from'}) -%}
                {{ incentivesSummary.reviewDate }}
              {%- endcall %}
            </li>
            <li class="govuk-grid-column-one-quarter card-group__item">
            {{imageCard({ id: 'incentivesLink', src: "/public/images/image_incentive_level.jpg", alt: "incentives picture", link: incentivesSummary.link, description: "Read more about incentive levels" }) }}
            </li>
        </ul>
      {% endif %}
    </div>
  </div>

  <div>
    <div class="govuk-width-container">
      <h2 class="govuk-heading-m card-title">Money<a href='#' class="govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state">open all balances</a></h2>
      {% if moneySummary.error %}
        <p class="govuk-!-font-size-24" data-test="money-error">We are not able to show your balances or transactions at this time. <a href="{{ params.returnUrl }}" class="govuk-link">try again</a> or <a href="{{ moneySummary.link }}" class="govuk-link">find out more about money and debt</a>.</p>
      {% else %}
        <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-quarter card-group__item">
              {% call cardSensitiveData({ id: 'moneySpends', heading: 'Spends' }) -%}
                <p>Spends account current balance</p>
                <strong class="hidden sensitive" data-test="money-spends">{{ moneySummary.spends }}</strong>
              {%- endcall %}
            </li>
             <li class="govuk-grid-column-one-quarter card-group__item">
              {% call cardSensitiveData({ id: 'moneyPrivate', heading: 'Private' }) -%}
                <p>Savings account current balance</p>
                <strong class="hidden sensitive" data-test="money-private">{{ moneySummary.private }}</strong>
              {%- endcall %}
            </li>
            <li class="govuk-grid-column-one-quarter card-group__item">
              {% call cardSensitiveData({ id: 'moneySavings', heading: 'Savings' }) -%}
                <p>Savings account current balance</p>
                <strong class="hidden sensitive" data-test="money-savings">{{ moneySummary.savings }}</strong>
              {%- endcall %}
            </li>
            <li class="govuk-grid-column-one-quarter card-group__item">
            {{imageCard({ id: 'moneyLink', src: "/public/images/image_money.jpg", alt: "money picture", link: moneySummary.link, description: "View your transactions" }) }}
            </li>
        </ul>
      {% endif %}
    </div>
  </div>

  <div class="grey-background">
    <div class="govuk-width-container">
      <h2 class="govuk-heading-m">Visits</h2>
      {% if visitsSummary.error %}
        <p class="govuk-!-font-size-24" data-test="visits-error">We are not able to show your visit information at this time. <a href="{{ params.returnUrl }}" class="govuk-link">try again</a> or <a href="{{ visitsSummary.link }}" class="govuk-link">find out more about visits</a>.</p>
      {% else %}
        <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-quarter card-group__item">
              {% call card({ id: 'nextVisit', heading: 'Your next visit'}) -%}
                {{ visitsSummary.nextVisit }}
              {%- endcall %}
            </li>
            <li class="govuk-grid-column-one-quarter card-group__item">
              {% call card({ id: 'visitType', heading: 'Type of visit'}) -%}
                {{ visitsSummary.visitType }}
              {%- endcall %}
            </li>
            <li class="govuk-grid-column-one-quarter card-group__item">
              {% call cardSensitiveData({ id: 'leadVisitor', heading: 'Lead visitor' }) -%}
                <p>Name of the lead visitor</p>
                <strong class="hidden sensitive" data-test="visitor-name">{{ visitsSummary.visitorName }}</strong>
              {%- endcall %}
            </li>
            <li class="govuk-grid-column-one-quarter card-group__item">
            {{imageCard({ id: 'visitsLink', src: "/public/images/image_visits.jpg", alt: "visits picture", link: visitsSummary.link, description: "Read more about visits" }) }}
            </li>
        </ul>
      {% endif %}
    </div>
  </div>
{% endif %}

    <div class="govuk-width-container govuk-hub-article-feedback">
      <p class="govuk-body">Tell us what you think:</p>
      {{ hubFeedbackWidget({
        title: title,
        contentType: 'PROFILE',
        feedbackId: feedbackId
      }) }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script src="/public/javascript/card.js"></script>
  <script>
    window
      .GOVUKFrontend
      .initAll();
  </script>
{% endblock %}
