{% from "../components/card/macro.njk" import card, imageCard, cardSensitiveData %}

{% extends "../components/basicTemplate.njk" %}

{% set feedbackHeading = "Tell us what you think" %}

{% macro eventsSummaryCard(events) %}
    {% for event in events %}
      <div class="govuk-!-padding-bottom-4">
        <strong>{{event.description}}</strong><br/>
        {{event.startTime }} to {{event.endTime }}<br/>
        {{event.location}}
      </div>
      {% else %}
        <strong data-test="no-activities">No activities scheduled</strong>
    {% endfor %}
{% endmacro %}

{% block main %}{% endblock %}
{% block main_full_width %}
  <div class="govuk-body">
    {% if not isSignedIn %}
      <div class= "govuk-width-container">
        <h2 class="govuk-heading-m">You are signed out</h2>
        <p class="govuk-!-font-size-24" data-test="signin-prompt">
          <a href="/auth/sign-in?returnUrl={{ returnUrl }}" class="govuk-link">Sign in</a> to see your personal information.
          </p>
      </div>
    {% else %}
      <div class="card-background">
        <div class="govuk-width-container" data-test="timetable-container">
          <h2 class="govuk-heading-m">Today's timetable</h2>
          {% if eventsSummary.error %}
            <p class="govuk-!-font-size-24" data-test="timetable-error">We are not able to show your timetable at this time, <a href="{{ params.returnUrl }}" class="govuk-link">try again</a>.</p>
          {% else %}
            <ul class="govuk-grid-row card-group">
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call card({ id: 'morningEvents', heading: 'Morning'}) -%}
                  {{ eventsSummaryCard(eventsSummary.morning.events) }}
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call card({ id: 'afternoonEvents', heading: 'Afternoon'}) -%}
                  {{ eventsSummaryCard(eventsSummary.afternoon.events) }}
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call card({ id: 'eveningEvents', heading: 'Evening'}) -%}
                  {{ eventsSummaryCard(eventsSummary.evening.events) }}
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
                {{imageCard({ id: 'timetableLink', src: "/public/images/image_timetable.jpg", alt: "timetable picture", link: knownPages.profile.timetable, description: "View your full timetable" }) }}
              </li>
            </ul>
          {% endif %}
        </div>
      </div>

      <div class="card-background grey">
        <div class="govuk-width-container" data-test="incentive-container">
          <h2 class="govuk-heading-m">Incentive level (IEP)</h2>
          {% if incentivesSummary.error %}
            <p class="govuk-!-font-size-24" data-test="incentives-error">We are not able to show your incentive level at this time. <a href="{{ params.returnUrl }}" class="govuk-link">Try again</a> or <a href="{{ incentivesSummary.link }}" class="govuk-link">find out more about incentive levels</a>.</p>
          {% else %}
            <ul class="govuk-grid-row card-group">
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call card({ id: 'currentLevel', heading: 'Your current incentive level is'}) -%}
                  {{ incentivesSummary.incentivesLevel }}
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call card({ id: 'reviewDate', heading: 'This can be reviewed from'}) -%}
                  {{ incentivesSummary.reviewDate }}
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
              {{imageCard({ id: 'incentivesLink', src: "/public/images/image_incentive_level.jpg", alt: "incentives picture", link: knownPages.profile.incentivesInfo, description: "Read more about incentive levels" }) }}
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
  
      <div class="card-background" data-test="money-container">
        <div class="govuk-width-container sensitive-card-container">
          <h2 class="govuk-heading-m card-title">Money
            {% if not moneySummary.error %}
              <a href='#' class="sensitive-card-control govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state" data-is-closed="true">
                <span class="open">Open all balances</span>
                <span class="closed hidden">Close all balances</span>
              </a>
            {% endif %}
          </h2>
          {% if moneySummary.error %}
            <p class="govuk-!-font-size-24" data-test="money-error">We are not able to show your balances or transactions at this time. <a href="{{ params.returnUrl }}" class="govuk-link">Try again</a> or <a href="{{ moneySummary.link }}" class="govuk-link">find out more about money and debt</a>.</p>
          {% else %}
            <ul class="govuk-grid-row card-group sensitive-cards">
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call cardSensitiveData({ id: 'moneySpends', heading: 'Spends' }) -%}
                  <p>Spends account current balance</p>
                  <strong class="hidden sensitive" data-test="money-spends">{{ moneySummary.spends }}</strong>
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call cardSensitiveData({ id: 'moneyPrivate', heading: 'Private' }) -%}
                  <p>Private account current balance</p>
                  <strong class="hidden sensitive" data-test="money-private">{{ moneySummary.privateAccount }}</strong>
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call cardSensitiveData({ id: 'moneySavings', heading: 'Savings' }) -%}
                  <p>Savings account current balance</p>
                  <strong class="hidden sensitive" data-test="money-savings">{{ moneySummary.savings }}</strong>
                {%- endcall %}
              </li>
              <li class="govuk-grid-column-one-quarter card-group__item">
              {{imageCard({ id: 'moneyLink', src: "/public/images/image_transactions.jpg", alt: "money picture", link: knownPages.profile.transactions, description: "View your transactions" }) }}
              </li>
            </ul>
            <a href= '{{ knownPages.profile.moneyAndDebtInfo }}' class="govuk-!-font-size-24 card-title govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state">
              <span>Read more about money and debt</span>
            </a>
          {% endif %}
        </div>
      </div>


      <div class="card-background grey">
        <div class="govuk-width-container" data-test="visits-container">
          <h2 class="govuk-heading-m">Visits</h2>
          {% if visitsSummary.error %}
            <p class="govuk-!-font-size-24" data-test="visits-error">We are not able to show your visit information at this time. <a href="{{ params.returnUrl }}" class="govuk-link">Try again</a> or <a href="{{ visitsSummary.link }}" class="govuk-link">find out more about visits</a>.</p>
          {% else %}
            <ul class="govuk-grid-row card-group">
              <li class="govuk-grid-column-one-quarter card-group__item">
                {% call card({ id: 'nextVisit', heading: 'Your next visit'}) -%}
                  {% if visitsSummary.hasNextVisit %}
                    <strong>{{ visitsSummary.nextVisit }}</strong><br/>
                    {{ visitsSummary.startTime }} to {{ visitsSummary.endTime }}
                    <br/><br/>
                    {{ visitsSummary.visitType }}
                  {% else %}
                    No upcoming visit
                  {% endif %}
                {%- endcall %}
              </li>
              {% if visitsSummary.hasNextVisit %}
                <li class="govuk-grid-column-one-quarter card-group__item">
                  {% call cardSensitiveData({ id: 'visitors', heading: 'Visitors coming to your next visit' }) -%}
                    <div class="closed">
                      See who’s coming to your next visit
                    </div>
                    <div class="hidden sensitive" data-test="visitors">
                      {% if visitsSummary.visitors.length > 1 %}
                        <ol class="hidden sensitive visitors-names" data-test="visitors">
                          {% for visit in visitsSummary.visitors %}
                            <li class="govuk-!-padding-bottom-2">{{ visit }}</li>
                          {% else %}
                            <strong data-test="no-activities">No activities scheduled</strong>
                          {% endfor %}
                        </ol>
                      {% else %}
                        {{ visitsSummary.visitors[0] }}
                      {% endif %}
                    </div>
                  {%- endcall %}
                </li>
                <li class="govuk-grid-column-one-quarter card-group__item">
                  {% call card({ id: 'visitsRemaining', heading: 'Total visits remaining'}) -%}
                    <strong>{{ visitsSummary.visitsRemaining}}</strong>
                  {%- endcall %}
                </li>
              {%- endif %}
              {# <li class="govuk-grid-column-one-quarter card-group__item">
                {{imageCard({ id: 'approvedVisitors', src: "/public/images/image_visitors.jpg", alt: "visitor picture", link: knownPages.profile.visitors, description: "View your full list of approved visitors" }) }}
              </li> #}
              <li class="govuk-grid-column-one-quarter card-group__item">
                {{imageCard({ id: 'visitsLink', src: "/public/images/image_visits.jpg", alt: "visits picture", link: knownPages.profile.visitorInfo, description: "Read more about visits" }) }}
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script src="/public/javascript/card.js"></script>
  <script>
    window
      .GOVUKFrontend
      .initAll();
  </script>
{% endblock %}
