{% extends "../components/basicTemplate.njk" %}

{% block content %}
  <div class="results">
    {% if results[0] %}
      <h3 class="govuk-heading-m">{{ t("search.showingResults", {term:query}) }}</h3>
      <ul class="govuk-list">
        {% for item in results %}
          <li>
            <a class="govuk-link" href="{{item.url}}">
              <span class="govuk-!-font-weight-bold">{{ item.title }}</span>
              <p class="govuk-body">
                {{ item.summary }}
              </p>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h3 class="govuk-heading-m">{{ t("search.noResults", {term:query}) }}</h3>
    {% endif %}
  </div>

{% endblock %}
