{% from "../components/related-content/macro.njk" import hubRelatedContent %}

{% extends "../components/basicTemplate.njk" %}

{% set blackBackground = true %}
{% set feedbackHeading = "Tell us what you think about this page" %}

{% block content %}
  {% if data.categoryFeaturedContent.length > 0 %}
    <section class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-l govuk-hub-white-heading">Featured</h2>
      {{ hubRelatedContent({
        data: { contentType:"default",isLastPage:true, data:data.categoryFeaturedContent },
        lazyLoadContent: true
      }) }}
    </section>
    <hr>
  {% endif %}
  {% if data.categorySeries.data.length > 0 %}
    <section id="seriesTiles"class="govuk-!-margin-bottom-9 govuk-!-margin-top-5">
      <h2 class="govuk-heading-l  govuk-hub-white-heading">In this section</h2>
      {{ hubRelatedContent({
        data: { contentType:data.categorySeries.contentType ,isLastPage:data.categorySeries.isLastPage, data:data.categorySeries.data },
        lazyLoadContent: true
      }) }}
    </section>
    <hr>
  {% endif %}
  {% if data.categoryContent.data.length > 0 %}
    <section id="otherContentTiles" class="govuk-!-margin-bottom-9 govuk-!-margin-top-5">
      <h2 class="govuk-heading-l  govuk-hub-white-heading">Content</h2>
      {{ hubRelatedContent({
        data: { contentType:data.categoryContent.contentType ,isLastPage:data.categoryContent.isLastPage, data:data.categoryContent.data },
        lazyLoadContent: true
      }) }}
    </section>
    <hr>
  {% endif %}
{% endblock %}

{% block bodyEnd %}
<script src="/public/generated/templates.js"></script>
<script src="/public/nunjucks-slim.js"></script>
<script src="/public/javascript/showMore.js"></script>
<script>
  setUpShowMore($('#seriesTiles .show-more-tiles'), $('#seriesTiles .small-tiles'), 'series')
  setUpShowMore($('#otherContentTiles .show-more-tiles'), $('#otherContentTiles .small-tiles'), 'other')
</script>
{% endblock %}
