{% from "../components/related-content/macro.njk" import hubRelatedContent %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}
{% from "../components/user-details/macro.njk" import userDetails %}

{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentDisplayName: establishmentDisplayName,
    showBar: false,
    isSignedIn: isSignedIn,
    returnUrl: config.returnUrl
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: config.detailsType,
    isSignedIn: isSignedIn,
    userName: userName
  }) }}
{% endblock %}

{% block header %}{% endblock %}
{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block main %}
  <div id="category-{{tagId}}" class="govuk-hub-landing-page-header govuk-hub-landing-page-header--with-stripe">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-!-padding-top-2">
            <h1 id="title" class="govuk-heading-xl">{{ title }}</h1>
            {% if data.summary %}
              <div id="description" class="govuk-body-l">
                {{data.summary | safe }}
              </div>
            {% endif %}
          </div>
          {% if data.image.url %}
            <div class="govuk-grid-column-one-half">
              <div data-page-featured-image class="govuk-hub-tag-page-header__content-image" style="background-image: url({{data.image.url}});"  alt="{{ data.image.alt }}"></div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  {{ hubRelatedContent({
    id: tagId,
    data: data.relatedContent,
    lazyLoadContent: true
  }) }}


  {% if not data.excludeFeedback %}
    <div class="govuk-form-group govuk-hub-article-feedback govuk-hub-on-black-feedback">
      {% set tagHeading %}
        Tell us what you think about this page:
      {% endset %}
      {{ hubFeedbackWidget({
        contentId: data.id,
        heading: tagHeading,
        title: title,
        name: title,
        contentType: data.contentType,
        series: title,
        feedbackId: feedbackId,
        series: title if data.contentType == 'series',
        secondaryTags: title if data.contentType == 'tags'
      })}}
    </div>
  {% endif %}
{% endblock %}
{% block bodyEnd %}
<script src="/public/generated/templates.js"></script>
<script src="/public/nunjucks-slim.js"></script>
<script src="/public/javascript/showMore.js"></script>
<script>setUpShowMore($('.show-more-tiles'), $('.small-tiles'))</script>
{% endblock %}

