{% from "../components/personal-schedule-one-day/macro.njk" import personalScheduleOneDay %}
{% from "../components/personal-schedule-nav/macro.njk" import personalScheduleNav %}

{% extends "../components/basicTemplate.njk" %}

{% block title %}
  <div class="govuk-width-container govuk-body hub-header timetable-header">
    <h1 class="govuk-heading-l" id="title">{{ title }}</h1>
    {{ personalScheduleNav({ nextWeek: config.nextWeek, lastWeek: config.lastWeek }, isSignedIn)}}
  </div>
{% endblock %}

{% block content %}
  {{personalScheduleOneDay({ data: events | first, authReturnUrl:  returnUrl }, isSignedIn)}}
  <div class="govuk-width-container govuk-body timetable-header timetable-footer">
    {{ personalScheduleNav({ nextWeek: config.nextWeek, lastWeek: config.lastWeek }, isSignedIn) }}
  </div>
{% endblock %}
