{% extends "../components/mediaTemplate.njk" %}

{% block media %}
  <video
    id="hub-video"
    class="video-js vjs-default-skin vjs-big-play-centered vjs-show-big-play-button-on-pause"
    controls
    preload="auto"
    poster="{{ data.image.url }}"
    data-setup='{
      "fluid": true,
      "controlBar": {
        "children": [
            "playToggle",
            "volumePanel",
            "currentTimeDisplay",
            "progressControl",
            "durationDisplay",
            "fullscreenToggle"
        ]
      }
    }'
  >
    <source src="{{ data.media }}" type="video/mp4"/>
  </video>
{% endblock %}
