{% extends "../components/mediaTemplate.njk" %}

{% block media %}
  <video
    id="hub-video"
    class="video-js vjs-default-skin vjs-big-play-centered vjs-show-big-play-button-on-pause"
    controls
    preload="auto"
    poster="{{ data.image.url }}"
    crossorigin="anonymous"
    data-setup='{
      "fluid": true,
      "controlBar": {
        "children": [
          "controlBar"
        ]
      }
    }'
  >
    <source src="{{ data.media }}" type="video/mp4"/>
    {% if data.subtitles  %}
    <track kind="subtitles" src="{{ data.subtitles }}" label="Captions on">
    {% endif %}
  </video>
{% endblock %}
