{% from "../components/page-navigation/macro.njk" import pageNavigation %}
{% from "../components/user-details/macro.njk" import userDetails %}
{% from "../components/feedback-widget/macro.njk" import hubFeedbackWidget %}


{% extends "../components/template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet"/>
{% endblock %}

{% block pageNavigation %}
  {{ pageNavigation({ title: title }) }}
{% endblock %}

{% block topBar %}
  {{ topBar({
    establishmentDisplayName: establishmentDisplayName,
    showBar: false,
    userName: signedInUser,
    returnUrl: returnUrl
  }) }}
{% endblock %}

{% block userDetails %}
  {{ userDetails({
    detailsType: detailsType,
    userName: signedInUser
  }) }}
{% endblock %}

{% block header %}
  <div class="govuk-width-container govuk-body">
    <h1>{{ title }}</h1>
  </div>
{% endblock %}

{% block homeNavigation %}{% endblock %}
{% block search %}{% endblock %}

{% block main %}
  <div class="govuk-body">
    {% if not signedInUser %}
      <div class= "govuk-width-container">
        <h2 class="govuk-heading-m">You are signed out</h2>
        <p class="govuk-!-font-size-24" data-test="signin-prompt">
          <a href="/auth/sign-in?returnUrl={{ returnUrl }}" class="govuk-link">Sign in</a> to see your personal information.
          </p>
      </div>
    {% else %}
      <div class= "govuk-width-container  govuk-!-padding-bottom-9">
        {% set endVisitor = currentVisitorsPage*maxVisitorsPerPage %}
        {% set startVisitor = endVisitor-maxVisitorsPerPage %}
        {% set numberOfPages = (approvedVisitors.length/maxVisitorsPerPage) | round(0, "ceil") %}
        {% if endVisitor > approvedVisitors.length %}
          {% set endVisitor = approvedVisitors.length %}
        {% endif %}
        <dl class="govuk-summary-list">
          {% for i in range(startVisitor, endVisitor) %}
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                {{ approvedVisitors[i] }}
              </dd>
            </div>
          {% endfor %}
        </dl>
        {% if numberOfPages > 1 %}
          {% set pageItems = [] %}
          {% for i in range(1, numberOfPages+1) %}
            {% set pageItems = (pageItems.push({ text: i, href: '?page='+i, selected: i==currentVisitorsPage }), pageItems) %}
          {% endfor %}
          <nav class="moj-pagination" id="pagination-label">
            <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
            <ul class="moj-pagination__list">
              {% if currentVisitorsPage > 1 %}
                {% set previousPage = (currentVisitorsPage | int) -1 %}
                <li class="moj-pagination__item  moj-pagination__item--prev">
                  <a class="moj-pagination__link" href="?page={{ previousPage }}">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
                </li>
              {% endif %}
              {% for i in range(1, numberOfPages+1) %}
                {% if i==currentVisitorsPage %}
                  <li class="moj-pagination__item moj-pagination__item--active">{{i}}</li>
                {% else %}
                  <li class="moj-pagination__item">
                    <a class="moj-pagination__link" href="?page={{ i }}">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if currentVisitorsPage < numberOfPages %}
                {% set nextPage = (currentVisitorsPage | int) + 1 %}
                <li class="moj-pagination__item  moj-pagination__item--next">
                  <a class="moj-pagination__link" href="?page={{ nextPage }}">Next<span class="govuk-visually-hidden"> set of pages</span></a>
                </li>
              {% endif %}
            </ul>
            <p class="moj-pagination__results">Showing <b>{{ startVisitor+1 }}</b> to <b>{{ endVisitor }}</b> of <b>{{ approvedVisitors.length }}</b> results</p>
          </nav>
        {% endif %}
      </div>
      <div class="govuk-width-container govuk-hub-article-feedback">
        <p class="govuk-body">Tell us what you think:</p>
        {{ hubFeedbackWidget({
          title: title,
          contentType: 'PROFILE',
          feedbackId: feedbackId
        }) }}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/public/all.js"></script>
  <script>
    window
      .GOVUKFrontend
      .initAll();
  </script>
{% endblock %}