{% macro tileImage(params) %}
  <div class="content__feature-image">
    <img src="{{params.image.url}}" alt="{{params.image.alt}}">
  </div>
{% endmacro %}

{% macro tileContent(params) %}
  <div class="content__feature-text">
    <h3 class="govuk-heading-l">{{params.title}}</h3>
    <p class="content-storyline">{{params.summary | safe}}</p>
    {% if params.contentType === "video" %}
      <p class="content-link--video">Watch</p>
    {% elif params.contentType === "radio" %}
      <p class="content-link--audio">Listen</p>
    {% elif params.contentType === "external_link" %}
      <p class="content-link--external">{{ params.displayUrl }}</p>
    {% elif params.contentType === "internal_link" %}
      <p class="content-link--internal"></p>
    {% elif params.contentType === "series" or params.contentType === "category" %}
      <p class="content-link--collection">Collection</p>
    {% else %}
      <p class="content-link--article">Read</p>
    {% endif %}
  </div>
{% endmacro %}

<a data-featured-tile-id="{{ params.content.id }}" data-featured-id="{{params.content.id}}" data-featured-title="{{ params.content.title }}" href="{{params.content.contentUrl}}" {% if params.content.externalContent %}target="_blank"{% endif %}>
  {% if params.imageAlign === 'left' %}
    {{ tileImage(params.content) }}
    {{ tileContent(params.content) }}
  {% else %}
    {{ tileContent(params.content) }}
    {{ tileImage(params.content) }}
  {% endif %}
</a>
